In [67]:
import pandas as pd  #get pandas database into notebook
from sqlalchemy import create_engine
engine = create_engine('postgres://ufjar3dimvcpta:pd3f3a35be39763c5ce1f2e31dc2b8dc28fdee3c14b1c7a2bd91b653f14037cff@ec2-54-89-181-194.compute-1.amazonaws.com:5432/d2ous5sgh041bh')

In [68]:
# Basic Query

sql = """
SELECT name, calories
FROM foods
"""

df = pd.read_sql_query(sql, engine)
df.head()

                            name  calories
0         Blue Raspberry Slushee     370.0
1         Blue Raspberry Slushee     570.0
2         Blue Raspberry Slushee     740.0
3    Breaded Onion Rings (Large)     480.0
4  Breaded Onion Rings (Regular)     350.0

In [69]:
sql = '''
SELECT *
FROM foods
'''

df = pd.read_sql_query(sql, engine)
df

,id,name,restaurant_id,calories,fat,carbs,created_at,updated_at
0,26,Blue Raspberry Slushee,1.0,370.0,0.0,91.0,2017-04-17 19:43:29.627441,2017-04-17 19:43:29.627441
1,27,Blue Raspberry Slushee,1.0,570.0,0.0,142.0,2017-04-17 19:43:29.634462,2017-04-17 19:43:29.634462
2,28,Blue Raspberry Slushee,1.0,740.0,0.0,182.0,2017-04-17 19:43:29.641432,2017-04-17 19:43:29.641432
3,29,Breaded Onion Rings (Large),1.0,480.0,27.0,62.0,2017-04-17 19:43:29.653546,2017-04-17 19:43:29.653546
4,30,Breaded Onion Rings (Regular),1.0,350.0,16.0,45.0,2017-04-17 19:43:29.659697,2017-04-17 19:43:29.659697
5,31,Caramel Sundae,1.0,340.0,9.0,57.0,2017-04-17 19:43:29.673328,2017-04-17 19:43:29.673328
6,32,Cheese Curds (Large),1.0,1140.0,80.0,54.0,2017-04-17 19:43:29.679916,2017-04-17 19:43:29.679916
7,33,Cheese Curds (Regular),1.0,570.0,40.0,27.0,2017-04-17 19:43:29.686953,2017-04-17 19:43:29.686953
8,34,Cheese Dog,1.0,350.0,22.0,26.0,2017-04-17 19:43:29.698637,2017-04-17 19:43:29.698637
9,35,Cheese Fries,1.0,390.0,18.0,50.0,2017-04-17 19:43:29.710567,2017-04-17 19:43:29.710567
10,36,Cheeseburger,1.0,420.0,21.0,37.0,2017-04-17 19:43:29.723607,2017-04-17 19:43:29.723607
11,37,Cherry Limeade,1.0,190.0,0.0,51.0,2017-04-17 19:43:29.730479,2017-04-17 19:43:29.730479
12,38,Cherry Limeade,1.0,300.0,0.0,79.0,2017-04-17 19:43:29.737489,2017-04-17 19:43:29.737489
13,39,Cherry Limeade,1.0,340.0,0.0,90.0,2017-04-17 19:43:29.743833,2017-04-17 19:43:29.743833
14,40,Cherry Limeade,1.0,530.0,0.0,138.0,2017-04-17 19:43:29.750062,2017-04-17 19:43:29.750062
15,41,Cherry Slushee,1.0,330.0,0.0,83.0,2017-04-17 19:43:29.756169,2017-04-17 19:43:29.756169
16,42,Cherry Slushee,1.0,450.0,0.0,112.0,2017-04-17 19:43:29.762286,2017-04-17 19:43:29.762286
17,43,Cherry Slushee,1.0,570.0,0.0,141.0,2017-04-17 19:43:29.775028,2017-04-17 19:43:29.775028
18,44,Cherry Slushee,1.0,900.0,0.0,224.0,2017-04-17 19:43:29.781555,2017-04-17 19:43:29.781555
19,45,Chicken Strips- 3 pieces,1.0,500.0,29.0,32.0,2017-04-17 19:43:29.793274,2017-04-17 19:43:29.793274
20,46,Chili,1.0,190.0,6.0,22.0,2017-04-17 19:43:29.799078,2017-04-17 19:43:29.799078
21,47,Chili Cheese Fries,1.0,410.0,17.0,52.0,2017-04-17 19:43:29.805234,2017-04-17 19:43:29.805234
22,48,Chili Fries,1.0,370.0,15.0,49.0,2017-04-17 19:43:29.811431,2017-04-17 19:43:29.811431
23,49,Chocolate Fudge Blendrrr,1.0,490.0,30.0,68.0,2017-04-17 19:43:29.817540,2017-04-17 19:43:29.817540
24,50,Chocolate Fudge Blendrrr,1.0,560.0,32.0,92.0,2017-04-17 19:43:29.823543,2017-04-17 19:43:29.823543
25,51,Chocolate Fudge Blendrrr,1.0,1010.0,59.0,152.0,2017-04-17 19:43:29.829707,2017-04-17 19:43:29.829707
26,52,Chocolate Milkshake (medium),1.0,880.0,36.0,125.0,2017-04-17 19:43:29.836474,2017-04-17 19:43:29.836474
27,53,Chocolate Milkshake (small),1.0,700.0,29.0,100.0,2017-04-17 19:43:29.843462,2017-04-17 19:43:29.843462
28,54,Chocolate Sundae,1.0,320.0,8.0,53.0,2017-04-17 19:43:29.849700,2017-04-17 19:43:29.849700
29,55,Coney (Chili) Cheese Dog,1.0,380.0,23.0,28.0,2017-04-17 19:43:29.855709,2017-04-17 19:43:29.855709
...,...,...,...,...,...,...,...,...
4946,3171,Sweet Life Chocolate Chip Cookie,29.0,160.0,8.0,21.0,2017-04-17 19:45:03.259451,2017-10-23 22:59:30.998227
4947,3250,Honey Mustard Snack Wrap (Crispy),30.0,330.0,16.0,34.0,2017-04-17 19:45:07.742631,2017-10-23 22:59:32.040159
4948,3386,Brownie Lovers Brownie,31.0,1600.0,73.0,216.0,2017-04-17 19:45:09.962311,2017-10-23 22:59:32.845374
4949,3456,Kids Grilled Chicken,32.0,390.0,6.0,59.0,2017-04-17 19:45:13.232407,2017-10-23 22:59:33.235743
4950,3495,Sampler Italiano Fried Zucchini,32.0,370.0,20.0,42.0,2017-04-17 19:45:13.506307,2017-10-23 22:59:33.429943
4951,3547,Alice Springs Chicken Quesadillas Regular,33.0,391.0,24.0,22.0,2017-04-17 19:45:17.028065,2017-10-23 22:59:33.758152
4952,3618,Mac-A-Roo N Cheese,33.0,607.0,25.0,63.0,2017-04-17 19:45:17.469885,2017-10-23 22:59:34.255040
4953,3655,Sweet Adventure Sampler Trio,33.0,444.0,29.0,41.0,2017-04-17 19:45:17.706910,2017-10-23 22:59:34.464249
4954,3668,VictoriaS Filet 6 oz,33.0,218.0,9.0,0.0,2017-04-17 19:45:17.786052,2017-10-23 22:59:34.509737
4955,3670,Walkabout Soup Of The Day Chicken Tortilla Sou...,33.0,219.0,8.0,24.0,2017-04-17 19:45:17.797088,2017-10-23 22:59:34.520512
4956,3721,All Natural Sonoma Chicken Stew with 1 Mini Dr...,35.0,370.0,20.0,33.0,2017-04-17 19:45:22.801986,2017-10-23 22:59:34.748860
4957,3765,Cinnamon Coffee Crumb Cake- caf serving,35.0,470.0,25.0,53.0,2017-04-17 19:45:23.077359,2017-10-23 22:59:35.041137
4958,3837,Half Bacon Turkey Bravo on XL Tomato Basil,35.0,400.0,14.0,42.0,2017-04-17 19:45:23.587141,2017-10-23 22:59:35.368945
4959,3922,Blackened Bbq Chicken Po Boy,36.0,340.0,7.0,49.0,2017-04-17 19:45:26.016766,2017-10-23 22:59:35.720242
4960,4078,A.1. Peppercorn Burger,38.0,1029.0,59.0,69.0,2017-04-17 19:45:32.880300,2017-10-23 22:59:36.289683
4961,4094,Caesars Chicken Wrap,38.0,851.0,43.0,69.0,2017-04-17 19:45:32.982807,2017-10-23 22:59:36.351983
4962,4100,Chick-Chick-Chicken Fingers Kids Meal,38.0,372.0,22.0,19.0,2017-04-17 19:45:33.016224,2017-10-23 22:59:36.381743
4963,4173,Kids Apple Slices,38.0,20.0,0.0,8.0,2017-04-17 19:45:33.476616,2017-10-23 22:59:36.668503
4964,4230,One Great Margarita Peach,38.0,291.0,0.0,48.0,2017-04-17 19:45:33.834541,2017-10-23 22:59:36.980641
4965,4258,Royal Red Robin Burger,38.0,1126.0,83.0,52.0,2017-04-17 19:45:34.017329,2017-10-23 22:59:37.104067
4966,4346,Light Beer 12 Ounces,39.0,110.0,0.0,7.0,2017-04-17 19:45:37.331061,2017-10-23 22:59:37.444463
4967,4442,Baked Potato Plain,40.0,259.0,2.0,52.0,2017-04-17 19:45:41.589091,2017-10-23 22:59:37.845574
4968,4516,Freshly Made Lemonade Raspberry,40.0,199.0,0.0,8.0,2017-04-17 19:45:42.161926,2017-10-23 22:59:38.242967
4969,4592,Petite Grilled Chicken Salad F&T,40.0,377.0,10.0,23.0,2017-04-17 19:45:42.655011,2017-10-23 22:59:38.626366
4970,4599,Petite Sirloin* & Lobster Mac n Cheese,40.0,903.0,51.0,35.0,2017-04-17 19:45:42.697989,2017-10-23 22:59:38.702763
4971,4684,"Black Forest Ham, Egg & Cheese 3 Flatbread",41.0,200.0,8.0,22.0,2017-04-17 19:45:48.501635,2017-10-23 22:59:39.227525
4972,4779,Crunchwrap Supreme,42.0,540.0,21.0,71.0,2017-04-17 19:45:51.363059,2017-10-23 22:59:39.682434
4973,4823,Strawberry Frutista Freeze,42.0,280.0,0.0,70.0,2017-04-17 19:45:51.625652,2017-10-23 22:59:39.864374
4974,4824,Strawberry Frutista Freeze 16 oz,42.0,230.0,0.0,57.0,2017-04-17 19:45:51.632046,2017-10-23 22:59:39.870191
4975,4933,Daves Hot N Juicy 1/2 lb.* Double,44.0,820.0,47.0,42.0,2017-04-17 19:45:56.422594,2017-10-23 22:59:40.274880

In [70]:
sql = '''
SELECT *
FROM restaurants
'''

df = pd.read_sql_query(sql, engine)
df

,id,name,created_at,updated_at
0,1,A&W Restaurants,2017-04-17 19:43:26.708904,2017-04-17 19:43:26.708904
1,2,Applebee's,2017-04-17 19:43:30.306405,2017-04-17 19:43:30.306405
2,3,Arby's,2017-04-17 19:43:35.190138,2017-04-17 19:43:35.190138
3,4,Atlanta Bread Company,2017-04-17 19:43:38.028008,2017-04-17 19:43:38.028008
4,5,Bojangle's Famous Chicken 'n Biscuits,2017-04-17 19:43:42.123451,2017-04-17 19:43:42.123451
5,6,Buffalo Wild Wings,2017-04-17 19:43:45.464748,2017-04-17 19:43:45.464748
6,7,Burger King,2017-04-17 19:43:48.697315,2017-04-17 19:43:48.697315
7,8,Captain D's,2017-04-17 19:43:52.541483,2017-04-17 19:43:52.541483
8,9,Carl's Jr.,2017-04-17 19:43:54.882161,2017-04-17 19:43:54.882161
9,10,Charley's Grilled Subs,2017-04-17 19:43:58.046722,2017-04-17 19:43:58.046722
10,11,Chick-fil-A,2017-04-17 19:44:00.012461,2017-04-17 19:44:00.012461
11,12,Chili's,2017-04-17 19:44:02.332547,2017-04-17 19:44:02.332547
12,13,Chipotle Mexican Grill,2017-04-17 19:44:07.278550,2017-04-17 19:44:07.278550
13,14,Church's,2017-04-17 19:44:09.808689,2017-04-17 19:44:09.808689
14,15,Corner Bakery Cafe,2017-04-17 19:44:12.227227,2017-04-17 19:44:12.227227
15,16,Dairy Queen,2017-04-17 19:44:17.611596,2017-04-17 19:44:17.611596
16,17,Denny's,2017-04-17 19:44:22.378138,2017-04-17 19:44:22.378138
17,18,El Pollo Loco,2017-04-17 19:44:27.434558,2017-04-17 19:44:27.434558
18,19,FATZ,2017-04-17 19:44:30.651478,2017-04-17 19:44:30.651478
19,20,Fazoli's,2017-04-17 19:44:35.594810,2017-04-17 19:44:35.594810
20,21,Five Guys Burgers and Fries,2017-04-17 19:44:38.564145,2017-04-17 19:44:38.564145
21,22,Golden Chick,2017-04-17 19:44:40.199051,2017-04-17 19:44:40.199051
22,23,Hardee's,2017-04-17 19:44:42.218097,2017-04-17 19:44:42.218097
23,24,IHOP,2017-04-17 19:44:44.674492,2017-04-17 19:44:44.674492
24,25,In-N-Out Burger,2017-04-17 19:44:49.443605,2017-04-17 19:44:49.443605
25,26,Jack in the Box,2017-04-17 19:44:50.887924,2017-04-17 19:44:50.887924
26,27,Jimmy Johns,2017-04-17 19:44:54.567983,2017-04-17 19:44:54.567983
27,28,Joe's Crab Shack,2017-04-17 19:44:56.410688,2017-04-17 19:44:56.410688
28,29,KFC,2017-04-17 19:45:00.098674,2017-04-17 19:45:00.098674
29,30,McDonald's,2017-04-17 19:45:03.270873,2017-04-17 19:45:03.270873
30,31,O'Charley's,2017-04-17 19:45:08.535181,2017-04-17 19:45:08.535181
31,32,Olive Garden,2017-04-17 19:45:09.967888,2017-04-17 19:45:09.967888
32,33,Outback Steakhouse,2017-04-17 19:45:13.865069,2017-04-17 19:45:13.865069
33,34,Panda Express,2017-04-17 19:45:17.907220,2017-04-17 19:45:17.907220
34,35,Panera Bread,2017-04-17 19:45:19.634420,2017-04-17 19:45:19.634420
35,36,Popeye's,2017-04-17 19:45:24.165435,2017-04-17 19:45:24.165435
36,37,Quiznos,2017-04-17 19:45:26.362187,2017-04-17 19:45:26.362187
37,38,Red Robin Gourmet Burgers,2017-04-17 19:45:29.394714,2017-04-17 19:45:29.394714
38,39,Romano's Macaroni Grill,2017-04-17 19:45:34.143486,2017-04-17 19:45:34.143486
39,40,Ruby Tuesday,2017-04-17 19:45:37.817662,2017-04-17 19:45:37.817662
40,41,Subway,2017-04-17 19:45:42.862150,2017-04-17 19:45:42.862150
41,42,Taco Bell,2017-04-17 19:45:48.887958,2017-04-17 19:45:48.887958
42,43,Taco Bueno,2017-04-17 19:45:51.691589,2017-04-17 19:45:51.691589
43,44,Wendy's,2017-04-17 19:45:54.221868,2017-04-17 19:45:54.221868

In [71]:
sql = '''
SELECT *
FROM categories
'''

df = pd.read_sql_query(sql, engine)
df

,id,name,created_at,updated_at
0,1,Drinks,2017-04-17 19:43:29.423043,2017-04-17 20:05:35.796750
1,2,Shakes,2017-04-17 19:43:29.484934,2017-04-17 20:05:35.803809
2,3,Sides,2017-04-17 19:43:29.648398,2017-04-17 20:05:35.809128
3,4,Desserts,2017-04-17 19:43:29.668462,2017-04-17 20:05:35.814921
4,5,Entrees,2017-04-17 19:43:29.693234,2017-04-17 20:05:35.821672
5,6,French Fries,2017-04-17 19:43:29.705479,2017-04-17 20:05:35.828348
6,7,Burgers,2017-04-17 19:43:29.717972,2017-04-17 20:05:35.834644
7,8,Chicken,2017-04-17 19:43:29.788758,2017-04-17 20:05:35.840311
8,9,Seafood,2017-04-17 19:43:29.887156,2017-04-17 20:05:35.846064
9,10,Appetizers,2017-04-17 19:43:33.837914,2017-04-17 20:05:35.851397
10,11,Salads,2017-04-17 19:43:33.849778,2017-04-17 20:05:35.864113
11,12,Sandwiches,2017-04-17 19:43:33.899610,2017-04-17 20:05:35.870035
12,13,Ribs,2017-04-17 19:43:33.921110,2017-04-17 20:05:35.876000
13,14,Soups,2017-04-17 19:43:33.967487,2017-04-17 20:05:35.881632
14,15,Kid's Meals,2017-04-17 19:43:34.558816,2017-04-17 20:05:35.888280
15,16,Wraps,2017-04-17 19:43:37.455031,2017-04-17 20:05:35.893825
16,17,Breakfast,2017-04-17 19:43:37.501395,2017-04-17 20:05:35.899694
17,18,Breads,2017-04-17 19:43:41.080023,2017-04-17 20:05:35.905286
18,19,Pizzas,2017-04-17 19:43:41.162096,2017-04-17 20:05:35.910768
19,20,Wing Sauces,2017-04-17 19:43:47.994250,2017-04-17 20:05:35.916266
20,21,Wings,2017-04-17 19:43:48.040106,2017-04-17 20:05:35.921840
21,22,Breakfast Tacos,2017-04-17 19:43:57.257677,2017-04-17 20:05:35.927740
22,23,Breakfast Sandwiches,2017-04-17 19:43:57.267939,2017-04-17 20:05:35.933646
23,24,Burritos,2017-04-17 19:43:57.284171,2017-04-17 20:05:35.939301
24,25,Coffee,2017-04-17 19:43:57.454309,2017-04-17 20:05:35.945083
25,26,Tacos,2017-04-17 19:43:57.481650,2017-04-17 20:05:35.951422
26,27,Mexican Food,2017-04-17 19:43:57.762342,2017-04-17 20:05:35.957768
27,28,Fajitas,2017-04-17 19:44:06.153325,2017-04-17 20:05:35.970074
28,29,Tortillas,2017-04-17 19:44:09.609540,2017-04-17 20:05:35.976123
29,30,Paninis,2017-04-17 19:44:16.529717,2017-04-17 20:05:35.982193
30,31,Nuggets,2017-04-17 19:45:07.472351,2017-04-17 20:05:35.987892
31,32,Cream Cheese Spreads,2017-04-17 19:45:23.012385,2017-04-17 20:05:35.993467

In [72]:
sql = '''
SELECT name
FROM foods
'''

df = pd.read_sql_query(sql, engine)
df

                                                   name
0                                Blue Raspberry Slushee
1                                Blue Raspberry Slushee
2                                Blue Raspberry Slushee
3                           Breaded Onion Rings (Large)
4                         Breaded Onion Rings (Regular)
5                                        Caramel Sundae
6                                  Cheese Curds (Large)
7                                Cheese Curds (Regular)
8                                            Cheese Dog
9                                          Cheese Fries
10                                         Cheeseburger
11                                       Cherry Limeade
12                                       Cherry Limeade
13                                       Cherry Limeade
14                                       Cherry Limeade
15                                       Cherry Slushee
16                                       Cherry Slushee
17                                       Cherry Slushee
18                                       Cherry Slushee
19                             Chicken Strips- 3 pieces
20                                                Chili
21                                   Chili Cheese Fries
22                                          Chili Fries
23                             Chocolate Fudge Blendrrr
24                             Chocolate Fudge Blendrrr
25                             Chocolate Fudge Blendrrr
26                         Chocolate Milkshake (medium)
27                          Chocolate Milkshake (small)
28                                     Chocolate Sundae
29                             Coney (Chili) Cheese Dog
...                                                 ...
4946                   Sweet Life Chocolate Chip Cookie
4947                  Honey Mustard Snack Wrap (Crispy)
4948                             Brownie Lovers Brownie
4949                               Kids Grilled Chicken
4950                   Sampler Italiano  Fried Zucchini
4951         Alice Springs Chicken Quesadillas  Regular
4952                                 Mac-A-Roo N Cheese
4953                       Sweet Adventure Sampler Trio
4954                               VictoriaS Filet 6 oz
4955  Walkabout Soup Of The Day Chicken Tortilla Sou...
4956  All Natural Sonoma Chicken Stew with 1 Mini Dr...
4957            Cinnamon Coffee Crumb Cake- caf serving
4958         Half Bacon Turkey Bravo on XL Tomato Basil
4959                       Blackened Bbq Chicken Po Boy
4960                             A.1. Peppercorn Burger
4961                               Caesars Chicken Wrap
4962              Chick-Chick-Chicken Fingers Kids Meal
4963                                  Kids Apple Slices
4964                         One Great Margarita  Peach
4965                             Royal Red Robin Burger
4966                              Light Beer  12 Ounces
4967                                Baked Potato  Plain
4968                   Freshly Made Lemonade  Raspberry
4969                  Petite Grilled Chicken Salad  F&T
4970             Petite Sirloin* & Lobster Mac n Cheese
4971         Black Forest Ham, Egg & Cheese 3 Flatbread
4972                                 Crunchwrap Supreme
4973                         Strawberry Frutista Freeze
4974                   Strawberry Frutista Freeze 16 oz
4975                  Daves Hot N Juicy 1/2 lb.* Double

[4976 rows x 1 columns]

In [73]:
sql = '''
SELECT restaurants.name, restaurants.id
FROM restaurants
'''

df = pd.read_sql_query(sql, engine)
df.head()

                                    name  id
0                        A&W Restaurants   1
1                             Applebee's   2
2                                 Arby's   3
3                  Atlanta Bread Company   4
4  Bojangle's Famous Chicken 'n Biscuits   5

In [74]:
# A way to shorten code and rename table (not perminant)
sql = '''   
SELECT r.name, r.id
FROM restaurants as r
'''

df = pd.read_sql_query(sql, engine)
df.head()

                                    name  id
0                        A&W Restaurants   1
1                             Applebee's   2
2                                 Arby's   3
3                  Atlanta Bread Company   4
4  Bojangle's Famous Chicken 'n Biscuits   5

In [75]:
# Rename columns
sql = '''
SELECT name AS restaurant, r.id
FROM restaurants AS r
'''

df = pd.read_sql_query(sql, engine)
df.head()

                              restaurant  id
0                        A&W Restaurants   1
1                             Applebee's   2
2                                 Arby's   3
3                  Atlanta Bread Company   4
4  Bojangle's Famous Chicken 'n Biscuits   5

In [76]:
# reorder columns (order by r.name desc at will will descend the order)
sql = '''
SELECT r.name as restaurant, r.id
FROM restaurants AS r
order by r.name
'''

df = pd.read_sql_query(sql, engine)
df.head()

                              restaurant  id
0                             Applebee's   2
1                                 Arby's   3
2                  Atlanta Bread Company   4
3                        A&W Restaurants   1
4  Bojangle's Famous Chicken 'n Biscuits   5

In [77]:
# food items, ordered by carbs
sql = '''
SELECT * 
from foods
order by carbs
'''
df = pd.read_sql_query(sql, engine)
df.head()

,id,name,restaurant_id,calories,fat,carbs,created_at,updated_at
0,3387,Add Grilled Chicken,32.0,110.0,2.0,0.0,2017-04-17 19:45:12.806985,2017-04-17 19:45:12.806985
1,2340,Bacon,20.0,140.0,10.0,0.0,2017-04-17 19:44:37.975105,2017-04-17 19:44:37.975105
2,2045,4 Piece Leg and Thigh,18.0,598.0,36.0,0.0,2017-04-17 19:44:30.051282,2017-04-17 19:44:30.051282
3,2611,Add Top Sirloin Steak,24.0,280.0,11.0,0.0,2017-04-17 19:44:48.485424,2017-04-17 19:44:48.485424
4,943,Shrimp Skewers,8.0,50.0,0.0,0.0,2017-04-17 19:43:54.828694,2017-04-17 19:43:54.828694

In [78]:
#priortize by first(id) and then calories
sql = '''
SELECT * 
from foods
order by restaurant_id, calories desc
'''
df = pd.read_sql_query(sql, engine)
df.head()

,id,name,restaurant_id,calories,fat,carbs,created_at,updated_at
0,18,A&W Root Beer,1.0,1760.0,0.0,464.0,2017-04-17 19:43:29.569811,2017-10-23 22:59:01.426274
1,102,Reeses Peanut Butter Fudge Blendrrr,1.0,1360.0,79.0,203.0,2017-04-17 19:43:30.159337,2017-10-23 22:59:02.214822
2,32,Cheese Curds (Large),1.0,1140.0,80.0,54.0,2017-04-17 19:43:29.679916,2017-04-17 19:43:29.679916
3,51,Chocolate Fudge Blendrrr,1.0,1010.0,59.0,152.0,2017-04-17 19:43:29.829707,2017-04-17 19:43:29.829707
4,86,Orange Freeze (medium),1.0,970.0,18.0,223.0,2017-04-17 19:43:30.054902,2017-04-17 19:43:30.054902

In [79]:
# only shows 10 
sql = '''
SELECT *
from foods
order by calories desc
limit 10 
'''
df = pd.read_sql_query(sql, engine)
df

,id,name,restaurant_id,calories,fat,carbs,created_at,updated_at
0,1591,Iced Coffee Black,15,NaN,0.0,0,2017-04-17 19:44:17.283512,2017-10-23 22:59:16.203288
1,1592,Iced Coffee Black,15,NaN,NaN,0,2017-04-17 19:44:17.289613,2017-10-23 22:59:16.226222
2,575,20 piece & 10 biscuit box serves 9-11),5,8820.0,540.0,545,2017-04-17 19:43:45.054814,2017-04-17 19:43:45.054814
3,565,12 piece & 6 biscuit box (serves 5-7),5,5300.0,324.0,327,2017-04-17 19:43:44.987020,2017-04-17 19:43:44.987020
4,1536,Country Large Oblong VG (whole),15,4220.0,16.0,862,2017-04-17 19:44:16.907961,2017-10-23 22:59:15.537773
5,580,8 piece & 4 biscuit box (serves 3-5),5,3534.0,216.0,218,2017-04-17 19:43:45.092193,2017-04-17 19:43:45.092193
6,3081,The Big Hook Up,28,2750.0,168.0,220,2017-04-17 19:45:00.068195,2017-04-17 19:45:00.068195
7,1538,Country Small Oblong VG (whole),15,2600.0,8.0,532,2017-04-17 19:44:16.926001,2017-10-23 22:59:15.566867
8,1524,Cinnamon Raisin V (whole),15,2540.0,87.0,389,2017-04-17 19:44:16.822525,2017-10-23 22:59:15.444476
9,727,Ribs & More Ribs,6,2380.0,158.0,88,2017-04-17 19:43:48.578346,2017-04-17 19:43:48.578346

In [80]:
sql = '''
SELECT *
from categories
order by name desc
limit 10 
'''
df = pd.read_sql_query(sql, engine)
df

   id         name                 created_at                 updated_at
0  16        Wraps 2017-04-17 19:43:37.455031 2017-04-17 20:05:35.893825
1  20  Wing Sauces 2017-04-17 19:43:47.994250 2017-04-17 20:05:35.916266
2  21        Wings 2017-04-17 19:43:48.040106 2017-04-17 20:05:35.921840
3  29    Tortillas 2017-04-17 19:44:09.609540 2017-04-17 20:05:35.976123
4  26        Tacos 2017-04-17 19:43:57.481650 2017-04-17 20:05:35.951422
5  14        Soups 2017-04-17 19:43:33.967487 2017-04-17 20:05:35.881632
6   3        Sides 2017-04-17 19:43:29.648398 2017-04-17 20:05:35.809128
7   2       Shakes 2017-04-17 19:43:29.484934 2017-04-17 20:05:35.803809
8   9      Seafood 2017-04-17 19:43:29.887156 2017-04-17 20:05:35.846064
9  12   Sandwiches 2017-04-17 19:43:33.899610 2017-04-17 20:05:35.870035

In [81]:
sql = '''
SELECT *
from foods
where foods.calories > 1000
limit 10 
'''
df = pd.read_sql_query(sql, engine)
df

,id,name,restaurant_id,calories,fat,carbs,created_at,updated_at
0,32,Cheese Curds (Large),1,1140,80,54,2017-04-17 19:43:29.679916,2017-04-17 19:43:29.679916
1,51,Chocolate Fudge Blendrrr,1,1010,59,152,2017-04-17 19:43:29.829707,2017-04-17 19:43:29.829707
2,18,A&W Root Beer,1,1760,0,464,2017-04-17 19:43:29.569811,2017-10-23 22:59:01.426274
3,127,Appetizer Sampler,2,2375,162,169,2017-04-17 19:43:33.842242,2017-04-17 19:43:33.842242
4,130,"Apple Walnut Chicken Salad, Regular",2,1030,67,54,2017-04-17 19:43:33.867558,2017-04-17 19:43:33.867558
5,146,BBQ Pulled Pork Sliders,2,1030,48,90,2017-04-17 19:43:33.983936,2017-04-17 19:43:33.983936
6,149,Blue Ribbon Brownie,2,1310,63,176,2017-04-17 19:43:34.002696,2017-04-17 19:43:34.002696
7,150,"Boneless Wings, Classic Buffalo",2,1160,69,66,2017-04-17 19:43:34.008835,2017-04-17 19:43:34.008835
8,151,"Boneless Wings, Honey BBQ",2,1250,55,16,2017-04-17 19:43:34.015718,2017-04-17 19:43:34.015718
9,152,"Boneless Wings, Hot Buffalo",2,1170,69,67,2017-04-17 19:43:34.027675,2017-04-17 19:43:34.027675

In [82]:
# Top 10 least caloric foods items, over 100 calories
sql = '''
SELECT *
from foods
where foods.calories > 100
order by calories
limit 10 
'''
df = pd.read_sql_query(sql, engine)
df

,id,name,restaurant_id,calories,fat,carbs,created_at,updated_at
0,2478,Minute Maid Raspberry Lemonade,22,101,0,27,2017-04-17 19:44:42.173767,2017-04-17 19:44:42.173767
1,4521,Fried Mozzarella,40,101,4,10,2017-04-17 19:45:42.203365,2017-04-17 19:45:42.203365
2,190,Chicken Tenders Basket,2,102,60,85,2017-04-17 19:43:34.277823,2017-04-17 19:43:34.277823
3,4238,Peach Iced Tea,38,103,0,26,2017-04-17 19:45:33.885717,2017-04-17 19:45:33.885717
4,4249,Raspberry Iced Tea,38,103,0,26,2017-04-17 19:45:33.959178,2017-04-17 19:45:33.959178
5,909,Catfish,8,105,6,6,2017-04-17 19:43:54.619840,2017-04-17 19:43:54.619840
6,4621,RT Palmer,40,105,2,15,2017-04-17 19:45:42.827896,2017-04-17 19:45:42.827896
7,4620,RT Palmer,40,105,2,15,2017-04-17 19:45:42.822208,2017-04-17 19:45:42.822208
8,2150,Bleu Cheese and Peppercorn Steak Topper,19,106,8,1,2017-04-17 19:44:34.408241,2017-04-17 19:44:34.408241
9,2339,Traditional Caesar Salad,19,109,3,13,2017-04-17 19:44:35.589254,2017-04-17 19:44:35.589254

In [83]:
# Top 10 least caloric foods items, exactly 101 calories
sql = '''
SELECT *
from foods
where foods.calories = 101
order by calories
limit 10 
'''
df = pd.read_sql_query(sql, engine)
df

,id,name,restaurant_id,calories,fat,carbs,created_at,updated_at
0,2478,Minute Maid Raspberry Lemonade,22,101,0,27,2017-04-17 19:44:42.173767,2017-04-17 19:44:42.173767
1,4521,Fried Mozzarella,40,101,4,10,2017-04-17 19:45:42.203365,2017-04-17 19:45:42.203365

In [84]:
# greater than 1000 calories or less than 30
sql = '''
SELECT *
from foods
where calories > 1000 or carbs < 30
'''
df = pd.read_sql_query(sql, engine)
df

,id,name,restaurant_id,calories,fat,carbs,created_at,updated_at
0,32,Cheese Curds (Large),1,1140.0,80.0,54.0,2017-04-17 19:43:29.679916,2017-04-17 19:43:29.679916
1,33,Cheese Curds (Regular),1,570.0,40.0,27.0,2017-04-17 19:43:29.686953,2017-04-17 19:43:29.686953
2,34,Cheese Dog,1,350.0,22.0,26.0,2017-04-17 19:43:29.698637,2017-04-17 19:43:29.698637
3,46,Chili,1,190.0,6.0,22.0,2017-04-17 19:43:29.799078,2017-04-17 19:43:29.799078
4,51,Chocolate Fudge Blendrrr,1,1010.0,59.0,152.0,2017-04-17 19:43:29.829707,2017-04-17 19:43:29.829707
5,55,Coney (Chili) Cheese Dog,1,380.0,23.0,28.0,2017-04-17 19:43:29.855709,2017-04-17 19:43:29.855709
6,56,Coney (Chili) Dog,1,340.0,20.0,26.0,2017-04-17 19:43:29.861678,2017-04-17 19:43:29.861678
7,61,Extra Burger Patty,1,170.0,12.0,2.0,2017-04-17 19:43:29.897614,2017-04-17 19:43:29.897614
8,64,French Fries (Small/ Kids),1,200.0,8.0,28.0,2017-04-17 19:43:29.916616,2017-04-17 19:43:29.916616
9,67,Hot Dog (plain),1,310.0,19.0,23.0,2017-04-17 19:43:29.935553,2017-04-17 19:43:29.935553
10,2,A&W Diet Root Beer,1,0.0,0.0,0.0,2017-04-17 19:43:29.456277,2017-10-23 22:59:01.252378
11,3,A&W Diet Root Beer,1,0.0,0.0,0.0,2017-04-17 19:43:29.462052,2017-10-23 22:59:01.259253
12,4,A&W Diet Root Beer,1,0.0,0.0,0.0,2017-04-17 19:43:29.467622,2017-10-23 22:59:01.270406
13,5,A&W Diet Root Beer,1,0.0,0.0,0.0,2017-04-17 19:43:29.473450,2017-10-23 22:59:01.285594
14,6,A&W Diet Root Beer,1,0.0,0.0,0.0,2017-04-17 19:43:29.479095,2017-10-23 22:59:01.296347
15,18,A&W Root Beer,1,1760.0,0.0,464.0,2017-04-17 19:43:29.569811,2017-10-23 22:59:01.426274
16,58,Corn Dog Nuggets (Small/ Kids),1,180.0,8.0,20.0,2017-04-17 19:43:29.874442,2017-10-23 22:59:01.691210
17,126,Add Grilled Shrimp,2,230.0,17.0,2.0,2017-04-17 19:43:33.831830,2017-04-17 19:43:33.831830
18,127,Appetizer Sampler,2,2375.0,162.0,169.0,2017-04-17 19:43:33.842242,2017-04-17 19:43:33.842242
19,129,"Apple Walnut Chicken Salad, Half w/o dressing",2,350.0,20.0,15.0,2017-04-17 19:43:33.860841,2017-04-17 19:43:33.860841
20,130,"Apple Walnut Chicken Salad, Regular",2,1030.0,67.0,54.0,2017-04-17 19:43:33.867558,2017-04-17 19:43:33.867558
21,131,"Apple Walnut Chicken Salad, Regular w/o dressing",2,470.0,22.0,18.0,2017-04-17 19:43:33.873965,2017-04-17 19:43:33.873965
22,139,Asiago Peppercorn Steak,2,380.0,14.0,25.0,2017-04-17 19:43:33.937181,2017-04-17 19:43:33.937181
23,140,Asiago Peppercorn Steak w/sides,2,380.0,14.0,25.0,2017-04-17 19:43:33.942950,2017-04-17 19:43:33.942950
24,144,Baked Potato Soup,2,420.0,32.0,27.0,2017-04-17 19:43:33.972212,2017-04-17 19:43:33.972212
25,145,Baked Potato Soup,2,360.0,28.0,20.0,2017-04-17 19:43:33.977712,2017-04-17 19:43:33.977712
26,146,BBQ Pulled Pork Sliders,2,1030.0,48.0,90.0,2017-04-17 19:43:33.983936,2017-04-17 19:43:33.983936
27,147,Black Bean Soup,2,190.0,9.0,21.0,2017-04-17 19:43:33.990725,2017-04-17 19:43:33.990725
28,149,Blue Ribbon Brownie,2,1310.0,63.0,176.0,2017-04-17 19:43:34.002696,2017-04-17 19:43:34.002696
29,150,"Boneless Wings, Classic Buffalo",2,1160.0,69.0,66.0,2017-04-17 19:43:34.008835,2017-04-17 19:43:34.008835
...,...,...,...,...,...,...,...,...
2235,1598,Kids Apple Juice,15,80.0,0.0,20.0,2017-04-17 19:44:17.337926,2017-10-23 22:59:16.349513
2236,1688,Chick. Strip Basket 4pc w/ Country Gravy,16,1030.0,53.0,105.0,2017-04-17 19:44:21.407498,2017-10-23 22:59:17.352070
2237,1756,French Silk Pie Blizzard Large,16,1320.0,62.0,176.0,2017-04-17 19:44:21.852610,2017-10-23 22:59:17.819585
2238,1837,All American Slam (add choices),17,800.0,68.0,5.0,2017-04-17 19:44:26.174328,2017-10-23 22:59:19.592940
2239,1921,Golden Fried Shrimp,17,190.0,8.0,20.0,2017-04-17 19:44:26.705137,2017-10-23 22:59:20.543584
2240,2003,Senior Starter (add choices),17,210.0,19.0,1.0,2017-04-17 19:44:27.208618,2017-10-23 22:59:21.138855
2241,2022,T Bone Steak & Breaded Shrimp w/ bread (add...,17,900.0,54.0,27.0,2017-04-17 19:44:27.335380,2017-10-23 22:59:21.244002
2242,2104,"Loco Side Salad (no dressing, no tortilla stri...",18,47.0,1.0,5.0,2017-04-17 19:44:30.436001,2017-10-23 22:59:21.714164
2243,2105,"Loco Side Salad (no dressing, no tortilla stri...",18,25.0,0.0,3.0,2017-04-17 19:44:30.441525,2017-10-23 22:59:21.719978
2244,2329,Southwestern Jalapeo Burger,19,1005.0,70.0,39.0,2017-04-17 19:44:35.530784,2017-10-23 22:59:22.779982
2245,2581,Add (2) Taylor Ham Slices,24,360.0,32.0,2.0,2017-04-17 19:44:48.310602,2017-10-23 22:59:24.888005
2246,2675,CINN-A-STACK French Toast,24,1120.0,54.0,126.0,2017-04-17 19:44:48.904895,2017-10-23 22:59:26.122899
2247,2696,"Create Your Own Viva La French Toast Combo, CI...",24,1300.0,73.0,121.0,2017-04-17 19:44:49.034653,2017-10-23 22:59:26.387548
2248,2757,"Iced Tea, 12 fl oz (Kids Cup)",24,5.0,0.0,2.0,2017-04-17 19:44:49.410455,2017-10-23 22:59:26.812189
2249,2763,Cheeseburger Protein Style (Bun replaced with...,25,330.0,25.0,11.0,2017-04-17 19:44:50.806086,2017-10-23 22:59:26.872317
2250,3041,Joes Classic Steampot For 2 (Nutritionals for ...,28,1210.0,75.0,70.0,2017-04-17 19:44:59.825252,2017-10-23 22:59:29.573337
2251,3080,Surf n Turf Burger,28,1260.0,85.0,67.0,2017-04-17 19:45:00.059326,2017-10-23 22:59:29.836307
2252,3171,Sweet Life Chocolate Chip Cookie,29,160.0,8.0,21.0,2017-04-17 19:45:03.259451,2017-10-23 22:59:30.998227
2253,3386,Brownie Lovers Brownie,31,1600.0,73.0,216.0,2017-04-17 19:45:09.962311,2017-10-23 22:59:32.845374
2254,3547,Alice Springs Chicken Quesadillas Regular,33,391.0,24.0,22.0,2017-04-17 19:45:17.028065,2017-10-23 22:59:33.758152
2255,3668,VictoriaS Filet 6 oz,33,218.0,9.0,0.0,2017-04-17 19:45:17.786052,2017-10-23 22:59:34.509737
2256,3670,Walkabout Soup Of The Day Chicken Tortilla Sou...,33,219.0,8.0,24.0,2017-04-17 19:45:17.797088,2017-10-23 22:59:34.520512
2257,4078,A.1. Peppercorn Burger,38,1029.0,59.0,69.0,2017-04-17 19:45:32.880300,2017-10-23 22:59:36.289683
2258,4100,Chick-Chick-Chicken Fingers Kids Meal,38,372.0,22.0,19.0,2017-04-17 19:45:33.016224,2017-10-23 22:59:36.381743
2259,4173,Kids Apple Slices,38,20.0,0.0,8.0,2017-04-17 19:45:33.476616,2017-10-23 22:59:36.668503
2260,4258,Royal Red Robin Burger,38,1126.0,83.0,52.0,2017-04-17 19:45:34.017329,2017-10-23 22:59:37.104067
2261,4346,Light Beer 12 Ounces,39,110.0,0.0,7.0,2017-04-17 19:45:37.331061,2017-10-23 22:59:37.444463
2262,4516,Freshly Made Lemonade Raspberry,40,199.0,0.0,8.0,2017-04-17 19:45:42.161926,2017-10-23 22:59:38.242967
2263,4592,Petite Grilled Chicken Salad F&T,40,377.0,10.0,23.0,2017-04-17 19:45:42.655011,2017-10-23 22:59:38.626366
2264,4684,"Black Forest Ham, Egg & Cheese 3 Flatbread",41,200.0,8.0,22.0,2017-04-17 19:45:48.501635,2017-10-23 22:59:39.227525

In [85]:
# jimmy Johns, over 750 calories
sql = '''
SELECT *
from foods
where restaurant_id = 27 and calories > 750
'''
df = pd.read_sql_query(sql, engine)
df

,id,name,restaurant_id,calories,fat,carbs,created_at,updated_at
0,2934,#7 Gourmet Smoked Ham Club,27,775,32,68,2017-04-17 19:44:56.212355,2017-04-17 19:44:56.212355
1,2920,#10 Hunters Club,27,807,34,66,2017-04-17 19:44:56.132353,2017-10-23 22:59:28.202473
2,2921,#11 Country Club,27,765,31,68,2017-04-17 19:44:56.137928,2017-10-23 22:59:28.209825
3,2923,#13 Gourmet Veggie Club,27,773,38,70,2017-04-17 19:44:56.149142,2017-10-23 22:59:28.229270
4,2925,#15 Club Tuna,27,843,38,72,2017-04-17 19:44:56.159806,2017-10-23 22:59:28.245631
5,2926,#16 Club Lulu,27,755,33,67,2017-04-17 19:44:56.165205,2017-10-23 22:59:28.253366
6,2927,#17 Ultimate Porker,27,760,39,67,2017-04-17 19:44:56.175545,2017-10-23 22:59:28.259395
7,2935,#8 Billy Club,27,796,34,68,2017-04-17 19:44:56.219941,2017-10-23 22:59:28.314517
8,2936,#9 Italian Night Club,27,948,50,70,2017-04-17 19:44:56.226275,2017-10-23 22:59:28.327906
9,2962,The J.J. Gargantuan,27,988,54,53,2017-04-17 19:44:56.394888,2017-10-23 22:59:28.521760

In [86]:
# range between 0 and 10
sql = '''
SELECT *
from foods
where calories between 0 and 10
'''
df = pd.read_sql_query(sql, engine)
df

,id,name,restaurant_id,calories,fat,carbs,created_at,updated_at
0,2,A&W Diet Root Beer,1,0,0,0.0,2017-04-17 19:43:29.456277,2017-10-23 22:59:01.252378
1,3,A&W Diet Root Beer,1,0,0,0.0,2017-04-17 19:43:29.462052,2017-10-23 22:59:01.259253
2,4,A&W Diet Root Beer,1,0,0,0.0,2017-04-17 19:43:29.467622,2017-10-23 22:59:01.270406
3,5,A&W Diet Root Beer,1,0,0,0.0,2017-04-17 19:43:29.473450,2017-10-23 22:59:01.285594
4,6,A&W Diet Root Beer,1,0,0,0.0,2017-04-17 19:43:29.479095,2017-10-23 22:59:01.296347
5,339,Buffalo Dipping Sauce Adds,3,10,1,1.0,2017-04-17 19:43:37.531082,2017-04-17 19:43:37.531082
6,597,Coffee (16oz),5,0,0,0.0,2017-04-17 19:43:45.202493,2017-04-17 19:43:45.202493
7,598,Coffee (22oz),5,0,0,0.0,2017-04-17 19:43:45.208456,2017-04-17 19:43:45.208456
8,632,"Unsweetened Iced Tea (16oz, with ice)",5,0,0,0.0,2017-04-17 19:43:45.440411,2017-04-17 19:43:45.440411
9,633,"Unsweetened Iced Tea (22oz, with ice)",5,0,0,0.0,2017-04-17 19:43:45.447458,2017-04-17 19:43:45.447458
10,634,"Unsweetened Iced Tea (32oz, with ice)",5,0,0,0.0,2017-04-17 19:43:45.453535,2017-04-17 19:43:45.453535
11,674,Desert Heat Based on 1/2 tsp,6,8,0,1.0,2017-04-17 19:43:48.241867,2017-10-23 22:59:06.709067
12,982,Decaffinated Coffee,9,10,0,NaN,2017-04-17 19:43:57.459014,2017-04-17 19:43:57.459014
13,988,Fresh Brewed Iced Tea,9,5,0,NaN,2017-04-17 19:43:57.503813,2017-04-17 19:43:57.503813
14,989,Fresh Brewed Iced Tea,9,5,0,NaN,2017-04-17 19:43:57.509726,2017-04-17 19:43:57.509726
15,990,Fresh Brewed Iced Tea,9,10,0,NaN,2017-04-17 19:43:57.516236,2017-04-17 19:43:57.516236
16,991,Fresh Brewed Iced Tea,9,10,0,NaN,2017-04-17 19:43:57.523576,2017-04-17 19:43:57.523576
17,1029,Regular Coffee,9,10,0,NaN,2017-04-17 19:43:57.785006,2017-04-17 19:43:57.785006
18,1114,100% Colombian Coffee,11,5,0,0.0,2017-04-17 19:44:01.944613,2017-04-17 19:44:01.944613
19,1150,Iced Tea Unsweetened,11,0,0,0.0,2017-04-17 19:44:02.207777,2017-10-23 22:59:10.962955
20,1365,Fajita Vegetables,13,5,0,1.0,2017-04-17 19:44:09.633240,2017-04-17 19:44:09.633240
21,1370,Fresh Tomato Salsa,13,5,0,1.0,2017-04-17 19:44:09.664914,2017-04-17 19:44:09.664914
22,1372,Green Tomatillo Salsa,13,5,0,1.0,2017-04-17 19:44:09.676605,2017-04-17 19:44:09.676605
23,1382,Romaine Lettuce (salad),13,10,0,2.0,2017-04-17 19:44:09.741621,2017-04-17 19:44:09.741621
24,1383,Romaine Lettuce (taco),13,5,0,1.0,2017-04-17 19:44:09.747589,2017-04-17 19:44:09.747589
25,1384,Romaine Lettuce (tacos),13,5,0,1.0,2017-04-17 19:44:09.753363,2017-04-17 19:44:09.753363
26,1407,Jalapeo Pepper,14,5,0,1.0,2017-04-17 19:44:12.041865,2017-10-23 22:59:13.737654
27,1434,Unsweet Tea Large,14,0,0,0.0,2017-04-17 19:44:12.209613,2017-10-23 22:59:14.001274
28,1435,Unsweet Tea Medium,14,0,0,0.0,2017-04-17 19:44:12.215311,2017-10-23 22:59:14.014940
29,1436,Unsweet Tea Small,14,0,0,0.0,2017-04-17 19:44:12.221110,2017-10-23 22:59:14.036105
...,...,...,...,...,...,...,...,...
45,2858,Kona Classic Coffee (decaf) 16 fl oz.,26,10,0,2.0,2017-04-17 19:44:54.189711,2017-10-23 22:59:27.571363
46,2859,Kona Classic Coffee (regular) 12 fl oz.,26,5,0,1.0,2017-04-17 19:44:54.195727,2017-10-23 22:59:27.594348
47,2860,Kona Classic Coffee (regular) 16 fl oz.,26,10,0,2.0,2017-04-17 19:44:54.201531,2017-10-23 22:59:27.608535
48,2940,Iced Tea,27,2,0,0.0,2017-04-17 19:44:56.252255,2017-04-17 19:44:56.252255
49,2941,Iced Tea,27,4,0,0.0,2017-04-17 19:44:56.258638,2017-04-17 19:44:56.258638
50,2948,"Pickle, Spear",27,5,0,1.0,2017-04-17 19:44:56.305466,2017-04-17 19:44:56.305466
51,3031,Garlic Herb,28,5,0,0.0,2017-04-17 19:44:59.758596,2017-04-17 19:44:59.758596
52,3075,Spicy Boil,28,5,0,1.0,2017-04-17 19:45:00.027820,2017-04-17 19:45:00.027820
53,3226,Coffee,30,0,0,0.0,2017-04-17 19:45:07.590500,2017-04-17 19:45:07.590500
54,3227,Coffee,30,0,0,0.0,2017-04-17 19:45:07.597017,2017-04-17 19:45:07.597017
55,3742,Brewed Tea- Acai,35,0,0,0.0,2017-04-17 19:45:22.928042,2017-04-17 19:45:22.928042
56,3743,Brewed Tea- Black,35,0,0,0.0,2017-04-17 19:45:22.933637,2017-04-17 19:45:22.933637
57,3740,Brewed Tea Acai,35,0,0,0.0,2017-04-17 19:45:22.915666,2017-10-23 22:59:34.853531
58,3741,Brewed Tea Black,35,0,0,0.0,2017-04-17 19:45:22.921809,2017-10-23 22:59:34.862423
59,3772,Coffee,35,5,0,0.0,2017-04-17 19:45:23.121847,2017-04-17 19:45:23.121847
60,3773,Coffee,35,5,0,0.0,2017-04-17 19:45:23.127960,2017-04-17 19:45:23.127960
61,3774,Coffee,35,5,0,0.0,2017-04-17 19:45:23.135972,2017-04-17 19:45:23.135972
62,3775,"Coffee, Decaf",35,5,0,0.0,2017-04-17 19:45:23.143805,2017-04-17 19:45:23.143805
63,3776,"Coffee, Decaf",35,5,0,0.0,2017-04-17 19:45:23.151132,2017-04-17 19:45:23.151132
64,3777,"Coffee, Decaf",35,5,0,0.0,2017-04-17 19:45:23.160552,2017-04-17 19:45:23.160552
65,3911,Pickle spear,35,5,0,1.0,2017-04-17 19:45:24.108993,2017-04-17 19:45:24.108993
66,4283,Asparagus,39,5,0,1.0,2017-04-17 19:45:36.937855,2017-04-17 19:45:36.937855
67,4292,Broccolini,39,10,0,2.0,2017-04-17 19:45:36.993788,2017-04-17 19:45:36.993788
68,4313,Coffee,39,0,0,0.0,2017-04-17 19:45:37.123631,2017-04-17 19:45:37.123631
69,4325,Fresh Spinach,39,5,0,1.0,2017-04-17 19:45:37.194562,2017-04-17 19:45:37.194562
70,4391,Roasted Peppers,39,5,0,2.0,2017-04-17 19:45:37.608216,2017-04-17 19:45:37.608216
71,4406,Snap Peas,39,10,0,2.0,2017-04-17 19:45:37.697925,2017-04-17 19:45:37.697925
72,4396,San Pellegrino Sparkling Mineral Water,39,0,0,0.0,2017-04-17 19:45:37.641308,2017-10-23 22:59:37.664530
73,1,A&W Diet Root Beer,1,0,0,0.0,2017-04-17 19:43:29.444233,2017-10-23 22:59:01.240291
74,2757,"Iced Tea, 12 fl oz (Kids Cup)",24,5,0,2.0,2017-04-17 19:44:49.410455,2017-10-23 22:59:26.812189

In [87]:
# restaurant name is = to McDonalds
sql = '''
SELECT *
from restaurants
where name = 'McDonald''s'
'''
df = pd.read_sql_query(sql, engine)
df

   id        name                 created_at                 updated_at
0  30  McDonald's 2017-04-17 19:45:03.270873 2017-04-17 19:45:03.270873

In [88]:
# food name that is = to whooper and like with %% wildcard 
# %%whooper will show anything that ends with whooper
# is case sensitive but with ilike will still show everything
sql = '''
SELECT *
from foods
where name like 'Whopper%%'
'''
df = pd.read_sql_query(sql, engine)
df

,id,name,restaurant_id,calories,fat,carbs,created_at,updated_at
0,894,Whopper JR. Sandwich,7,340,19,28,2017-04-17 19:43:52.488338,2017-10-23 22:59:08.884291
1,895,Whopper JR. Sandwich w/o Mayo,7,260,10,28,2017-04-17 19:43:52.494960,2017-10-23 22:59:08.891527
2,896,Whopper JR. Sandwich with Cheese,7,380,23,29,2017-04-17 19:43:52.506533,2017-10-23 22:59:08.898160
3,897,Whopper JR. Sandwich with Cheese w/o Mayo,7,300,14,660,2017-04-17 19:43:52.512710,2017-10-23 22:59:08.908225
4,898,Whopper Sandwich,7,670,40,51,2017-04-17 19:43:52.519083,2017-10-23 22:59:08.917127
5,899,Whopper Sandwich w/o Mayo,7,510,23,51,2017-04-17 19:43:52.525335,2017-10-23 22:59:08.930140
6,900,Whopper Sandwich with Cheese,7,760,47,53,2017-04-17 19:43:52.530702,2017-10-23 22:59:08.937044
7,901,Whopper Sandwich with Cheese w/o Mayo,7,600,30,53,2017-04-17 19:43:52.536392,2017-10-23 22:59:08.946574

In [89]:
# Anything with steak from foods 
sql = '''
SELECT *
from foods
where name like '%%steak%%'
'''
df = pd.read_sql_query(sql, engine)
df

,id,name,restaurant_id,calories,fat,carbs,created_at,updated_at
0,1096,Philly Cheesesteak,10,521,18,56,2017-04-17 19:43:59.892335,2017-04-17 19:43:59.892335
1,4632,6 Big Philly Cheesesteak,41,500,17,51,2017-04-17 19:45:48.191040,2017-10-23 22:59:38.898154
2,4680,Big Philly Cheesesteak Salad,41,330,16,17,2017-04-17 19:45:48.479253,2017-04-17 19:45:48.479253

In [90]:
#
sql = '''
SELECT *
FROM foods
WHERE name ILIKE '%%steak%%' AND name NOT ILIKE '%%chicken%%'
'''
df = pd.read_sql_query(sql, engine)
df

,id,name,restaurant_id,calories,fat,carbs,created_at,updated_at
0,139,Asiago Peppercorn Steak,2,380,14,25.0,2017-04-17 19:43:33.937181,2017-04-17 19:43:33.937181
1,140,Asiago Peppercorn Steak w/sides,2,380,14,25.0,2017-04-17 19:43:33.942950,2017-04-17 19:43:33.942950
2,156,Bourbon Street Steak,2,760,44,35.0,2017-04-17 19:43:34.051206,2017-04-17 19:43:34.051206
3,249,"Grilled Steak Caesar, Half",2,460,34,13.0,2017-04-17 19:43:34.684827,2017-04-17 19:43:34.684827
4,250,"Grilled Steak Caesar, Half w/o dressing",2,230,10,11.0,2017-04-17 19:43:34.690995,2017-04-17 19:43:34.690995
5,251,"Grilled Steak Caesar, Regular",2,910,68,25.0,2017-04-17 19:43:34.696872,2017-04-17 19:43:34.696872
6,252,"Grilled Steak Caesar, Regular w/o dressing",2,460,21,21.0,2017-04-17 19:43:34.708319,2017-04-17 19:43:34.708319
7,261,Kids 4oz Sirloin Steak,2,140,7,0.0,2017-04-17 19:43:34.770828,2017-04-17 19:43:34.770828
8,414,Steakhouse Onion Rings (5),3,460,24,56.0,2017-04-17 19:43:37.993973,2017-04-17 19:43:37.993973
9,625,Steak Biscuit,5,555,35,44.0,2017-04-17 19:43:45.379235,2017-04-17 19:43:45.379235
10,750,Biscuit w/ Breakfast Steak (Country Fried Steak),7,650,38,50.0,2017-04-17 19:43:51.558397,2017-10-23 22:59:07.151444
11,957,Bean & Cheese Burrito Steak,9,460,19,NaN,2017-04-17 19:43:57.305007,2017-10-23 22:59:09.237606
12,1006,Hard Taco Steak,9,200,10,NaN,2017-04-17 19:43:57.631910,2017-10-23 22:59:09.762957
13,1041,Steak & Egg Burrito,9,650,36,NaN,2017-04-17 19:43:57.866324,2017-04-17 19:43:57.866324
14,1088,Grilled Steak Salad,10,208,10,10.0,2017-04-17 19:43:59.846232,2017-04-17 19:43:59.846232
15,1095,Mushroom Swiss Steak,10,521,18,57.0,2017-04-17 19:43:59.886842,2017-04-17 19:43:59.886842
16,1096,Philly Cheesesteak,10,521,18,56.0,2017-04-17 19:43:59.892335,2017-04-17 19:43:59.892335
17,1099,Philly Steak and Bleu,10,471,14,56.0,2017-04-17 19:43:59.908240,2017-04-17 19:43:59.908240
18,1100,Philly Steak Deluxe,10,527,18,57.0,2017-04-17 19:43:59.913710,2017-04-17 19:43:59.913710
19,1028,Quesadilla Steak,9,500,22,NaN,2017-04-17 19:43:57.779020,2017-10-23 22:59:10.041739
20,1036,Soft Taco Steak,9,210,9,NaN,2017-04-17 19:43:57.832968,2017-10-23 22:59:10.125435
21,1049,Super Nachos Steak,9,930,50,NaN,2017-04-17 19:43:57.920256,2017-10-23 22:59:10.250874
22,1054,Taco Salad Steak,9,810,46,NaN,2017-04-17 19:43:57.951588,2017-10-23 22:59:10.292618
23,1059,The Green Burrito Steak,9,830,30,NaN,2017-04-17 19:43:57.981010,2017-10-23 22:59:10.321782
24,1106,Sicilian Steak,10,640,30,54.0,2017-04-17 19:43:59.961328,2017-04-17 19:43:59.961328
25,1107,"Steak, Egg & Cheese",10,620,25,55.0,2017-04-17 19:43:59.969026,2017-04-17 19:43:59.969026
26,1180,Bacon Ranch Steak Quesadilla,12,1680,111,98.0,2017-04-17 19:44:06.135805,2017-04-17 19:44:06.135805
27,1233,Country-Fried Steak,12,1270,71,120.0,2017-04-17 19:44:06.543442,2017-04-17 19:44:06.543442
28,1327,Steakhouse Sandwich w/ fries,12,1010,45,115.0,2017-04-17 19:44:07.151776,2017-04-17 19:44:07.151776
29,1389,Steak,13,190,6,2.0,2017-04-17 19:44:09.784934,2017-04-17 19:44:09.784934
...,...,...,...,...,...,...,...,...
73,4194,Kids Steak Fries,38,217,9,30.0,2017-04-17 19:45:33.608642,2017-10-23 22:59:36.809435
74,4323,Florentine Steak & Frites,39,1670,113,77.0,2017-04-17 19:45:37.183585,2017-04-17 19:45:37.183585
75,4552,Kid Chop Steak,40,464,33,18.0,2017-04-17 19:45:42.391970,2017-04-17 19:45:42.391970
76,4574,Mini Benedicts Steak,40,934,54,72.0,2017-04-17 19:45:42.535751,2017-10-23 22:59:38.532851
77,4632,6 Big Philly Cheesesteak,41,500,17,51.0,2017-04-17 19:45:48.191040,2017-10-23 22:59:38.898154
78,4639,6 Chipotle Steak & Cheese with Avocado,41,550,26,53.0,2017-04-17 19:45:48.231670,2017-10-23 22:59:38.943686
79,4653,6 Sriracha Steak Melt,41,430,14,49.0,2017-04-17 19:45:48.317936,2017-10-23 22:59:39.027658
80,4654,6 Steak & Bacon Melt,41,500,16,51.0,2017-04-17 19:45:48.323349,2017-10-23 22:59:39.033693
81,4655,6 Steak and Cheese,41,380,10,48.0,2017-04-17 19:45:48.328664,2017-10-23 22:59:39.039288
82,4656,"6 Steak, Egg & Cheese Omelet Sandwich",41,430,15,47.0,2017-04-17 19:45:48.333814,2017-10-23 22:59:39.044463
83,4657,"6 Steak, Egg (White) & Cheese Omelet Sandwich",41,390,10,47.0,2017-04-17 19:45:48.339092,2017-10-23 22:59:39.050627
84,4680,Big Philly Cheesesteak Salad,41,330,16,17.0,2017-04-17 19:45:48.479253,2017-04-17 19:45:48.479253
85,4694,Chipotle Steak & Cheese Salad,41,300,18,15.0,2017-04-17 19:45:48.559033,2017-04-17 19:45:48.559033
86,4724,Sriracha Steak Melt Salad,41,300,16,17.0,2017-04-17 19:45:48.769955,2017-04-17 19:45:48.769955
87,4725,Steak & Bacon Melt Salad,41,270,10,16.0,2017-04-17 19:45:48.775346,2017-04-17 19:45:48.775346
88,4726,"Steak, Egg (White) and Cheese 3 Flatbread",41,190,6,22.0,2017-04-17 19:45:48.781175,2017-10-23 22:59:39.436503
89,4727,"Steak, Egg and Cheese 3 Flatbread",41,210,8,22.0,2017-04-17 19:45:48.792358,2017-10-23 22:59:39.441415
90,4754,Burrito Supreme Steak,42,390,13,52.0,2017-04-17 19:45:51.201404,2017-10-23 22:59:39.565082
91,4758,Chalupa Supreme Steak,42,360,21,29.0,2017-04-17 19:45:51.223329,2017-10-23 22:59:39.581513
92,4794,Fiesta Taco Salad-Steak,42,720,36,70.0,2017-04-17 19:45:51.455768,2017-04-17 19:45:51.455768
93,4803,Fresco Grilled Steak Soft Taco,42,150,4,19.0,2017-04-17 19:45:51.505972,2017-04-17 19:45:51.505972
94,4809,Grilled Steak Soft Taco,42,250,14,19.0,2017-04-17 19:45:51.544238,2017-04-17 19:45:51.544238
95,4822,Steak Quesadilla,42,520,28,41.0,2017-04-17 19:45:51.619936,2017-04-17 19:45:51.619936
96,4843,BC Steak Fajita Taco With Pico De Gallo (no ch...,43,210,9,21.0,2017-04-17 19:45:53.773472,2017-04-17 19:45:53.773472
97,4788,Enchirito Steak,42,330,14,32.0,2017-04-17 19:45:51.418531,2017-10-23 22:59:39.729073
98,4798,Fresco Burrito Supreme Steak,42,340,9,50.0,2017-04-17 19:45:51.478657,2017-10-23 22:59:39.763540
99,4806,Gordita Supreme Steak,42,270,11,29.0,2017-04-17 19:45:51.526291,2017-10-23 22:59:39.796994
100,4832,XXL Grilled Stuft Burrito Steak,42,820,36,92.0,2017-04-17 19:45:51.685975,2017-10-23 22:59:39.901058
101,4883,Flame-Grilled Steak Fajita Taco,43,230,11,20.0,2017-04-17 19:45:54.042331,2017-04-17 19:45:54.042331
102,2022,T Bone Steak & Breaded Shrimp w/ bread (add...,17,900,54,27.0,2017-04-17 19:44:27.335380,2017-10-23 22:59:21.244002

In [91]:
sql = '''
SELECT *
from foods
where calories is not null
'''
df = pd.read_sql_query(sql, engine)
df

,id,name,restaurant_id,calories,fat,carbs,created_at,updated_at
0,26,Blue Raspberry Slushee,1.0,370,0,91.0,2017-04-17 19:43:29.627441,2017-04-17 19:43:29.627441
1,27,Blue Raspberry Slushee,1.0,570,0,142.0,2017-04-17 19:43:29.634462,2017-04-17 19:43:29.634462
2,28,Blue Raspberry Slushee,1.0,740,0,182.0,2017-04-17 19:43:29.641432,2017-04-17 19:43:29.641432
3,29,Breaded Onion Rings (Large),1.0,480,27,62.0,2017-04-17 19:43:29.653546,2017-04-17 19:43:29.653546
4,30,Breaded Onion Rings (Regular),1.0,350,16,45.0,2017-04-17 19:43:29.659697,2017-04-17 19:43:29.659697
5,31,Caramel Sundae,1.0,340,9,57.0,2017-04-17 19:43:29.673328,2017-04-17 19:43:29.673328
6,32,Cheese Curds (Large),1.0,1140,80,54.0,2017-04-17 19:43:29.679916,2017-04-17 19:43:29.679916
7,33,Cheese Curds (Regular),1.0,570,40,27.0,2017-04-17 19:43:29.686953,2017-04-17 19:43:29.686953
8,34,Cheese Dog,1.0,350,22,26.0,2017-04-17 19:43:29.698637,2017-04-17 19:43:29.698637
9,35,Cheese Fries,1.0,390,18,50.0,2017-04-17 19:43:29.710567,2017-04-17 19:43:29.710567
10,36,Cheeseburger,1.0,420,21,37.0,2017-04-17 19:43:29.723607,2017-04-17 19:43:29.723607
11,37,Cherry Limeade,1.0,190,0,51.0,2017-04-17 19:43:29.730479,2017-04-17 19:43:29.730479
12,38,Cherry Limeade,1.0,300,0,79.0,2017-04-17 19:43:29.737489,2017-04-17 19:43:29.737489
13,39,Cherry Limeade,1.0,340,0,90.0,2017-04-17 19:43:29.743833,2017-04-17 19:43:29.743833
14,40,Cherry Limeade,1.0,530,0,138.0,2017-04-17 19:43:29.750062,2017-04-17 19:43:29.750062
15,41,Cherry Slushee,1.0,330,0,83.0,2017-04-17 19:43:29.756169,2017-04-17 19:43:29.756169
16,42,Cherry Slushee,1.0,450,0,112.0,2017-04-17 19:43:29.762286,2017-04-17 19:43:29.762286
17,43,Cherry Slushee,1.0,570,0,141.0,2017-04-17 19:43:29.775028,2017-04-17 19:43:29.775028
18,44,Cherry Slushee,1.0,900,0,224.0,2017-04-17 19:43:29.781555,2017-04-17 19:43:29.781555
19,45,Chicken Strips- 3 pieces,1.0,500,29,32.0,2017-04-17 19:43:29.793274,2017-04-17 19:43:29.793274
20,46,Chili,1.0,190,6,22.0,2017-04-17 19:43:29.799078,2017-04-17 19:43:29.799078
21,47,Chili Cheese Fries,1.0,410,17,52.0,2017-04-17 19:43:29.805234,2017-04-17 19:43:29.805234
22,48,Chili Fries,1.0,370,15,49.0,2017-04-17 19:43:29.811431,2017-04-17 19:43:29.811431
23,49,Chocolate Fudge Blendrrr,1.0,490,30,68.0,2017-04-17 19:43:29.817540,2017-04-17 19:43:29.817540
24,50,Chocolate Fudge Blendrrr,1.0,560,32,92.0,2017-04-17 19:43:29.823543,2017-04-17 19:43:29.823543
25,51,Chocolate Fudge Blendrrr,1.0,1010,59,152.0,2017-04-17 19:43:29.829707,2017-04-17 19:43:29.829707
26,52,Chocolate Milkshake (medium),1.0,880,36,125.0,2017-04-17 19:43:29.836474,2017-04-17 19:43:29.836474
27,53,Chocolate Milkshake (small),1.0,700,29,100.0,2017-04-17 19:43:29.843462,2017-04-17 19:43:29.843462
28,54,Chocolate Sundae,1.0,320,8,53.0,2017-04-17 19:43:29.849700,2017-04-17 19:43:29.849700
29,55,Coney (Chili) Cheese Dog,1.0,380,23,28.0,2017-04-17 19:43:29.855709,2017-04-17 19:43:29.855709
...,...,...,...,...,...,...,...,...
4944,3171,Sweet Life Chocolate Chip Cookie,29.0,160,8,21.0,2017-04-17 19:45:03.259451,2017-10-23 22:59:30.998227
4945,3250,Honey Mustard Snack Wrap (Crispy),30.0,330,16,34.0,2017-04-17 19:45:07.742631,2017-10-23 22:59:32.040159
4946,3386,Brownie Lovers Brownie,31.0,1600,73,216.0,2017-04-17 19:45:09.962311,2017-10-23 22:59:32.845374
4947,3456,Kids Grilled Chicken,32.0,390,6,59.0,2017-04-17 19:45:13.232407,2017-10-23 22:59:33.235743
4948,3495,Sampler Italiano Fried Zucchini,32.0,370,20,42.0,2017-04-17 19:45:13.506307,2017-10-23 22:59:33.429943
4949,3547,Alice Springs Chicken Quesadillas Regular,33.0,391,24,22.0,2017-04-17 19:45:17.028065,2017-10-23 22:59:33.758152
4950,3618,Mac-A-Roo N Cheese,33.0,607,25,63.0,2017-04-17 19:45:17.469885,2017-10-23 22:59:34.255040
4951,3655,Sweet Adventure Sampler Trio,33.0,444,29,41.0,2017-04-17 19:45:17.706910,2017-10-23 22:59:34.464249
4952,3668,VictoriaS Filet 6 oz,33.0,218,9,0.0,2017-04-17 19:45:17.786052,2017-10-23 22:59:34.509737
4953,3670,Walkabout Soup Of The Day Chicken Tortilla Sou...,33.0,219,8,24.0,2017-04-17 19:45:17.797088,2017-10-23 22:59:34.520512
4954,3721,All Natural Sonoma Chicken Stew with 1 Mini Dr...,35.0,370,20,33.0,2017-04-17 19:45:22.801986,2017-10-23 22:59:34.748860
4955,3765,Cinnamon Coffee Crumb Cake- caf serving,35.0,470,25,53.0,2017-04-17 19:45:23.077359,2017-10-23 22:59:35.041137
4956,3837,Half Bacon Turkey Bravo on XL Tomato Basil,35.0,400,14,42.0,2017-04-17 19:45:23.587141,2017-10-23 22:59:35.368945
4957,3922,Blackened Bbq Chicken Po Boy,36.0,340,7,49.0,2017-04-17 19:45:26.016766,2017-10-23 22:59:35.720242
4958,4078,A.1. Peppercorn Burger,38.0,1029,59,69.0,2017-04-17 19:45:32.880300,2017-10-23 22:59:36.289683
4959,4094,Caesars Chicken Wrap,38.0,851,43,69.0,2017-04-17 19:45:32.982807,2017-10-23 22:59:36.351983
4960,4100,Chick-Chick-Chicken Fingers Kids Meal,38.0,372,22,19.0,2017-04-17 19:45:33.016224,2017-10-23 22:59:36.381743
4961,4173,Kids Apple Slices,38.0,20,0,8.0,2017-04-17 19:45:33.476616,2017-10-23 22:59:36.668503
4962,4230,One Great Margarita Peach,38.0,291,0,48.0,2017-04-17 19:45:33.834541,2017-10-23 22:59:36.980641
4963,4258,Royal Red Robin Burger,38.0,1126,83,52.0,2017-04-17 19:45:34.017329,2017-10-23 22:59:37.104067
4964,4346,Light Beer 12 Ounces,39.0,110,0,7.0,2017-04-17 19:45:37.331061,2017-10-23 22:59:37.444463
4965,4442,Baked Potato Plain,40.0,259,2,52.0,2017-04-17 19:45:41.589091,2017-10-23 22:59:37.845574
4966,4516,Freshly Made Lemonade Raspberry,40.0,199,0,8.0,2017-04-17 19:45:42.161926,2017-10-23 22:59:38.242967
4967,4592,Petite Grilled Chicken Salad F&T,40.0,377,10,23.0,2017-04-17 19:45:42.655011,2017-10-23 22:59:38.626366
4968,4599,Petite Sirloin* & Lobster Mac n Cheese,40.0,903,51,35.0,2017-04-17 19:45:42.697989,2017-10-23 22:59:38.702763
4969,4684,"Black Forest Ham, Egg & Cheese 3 Flatbread",41.0,200,8,22.0,2017-04-17 19:45:48.501635,2017-10-23 22:59:39.227525
4970,4779,Crunchwrap Supreme,42.0,540,21,71.0,2017-04-17 19:45:51.363059,2017-10-23 22:59:39.682434
4971,4823,Strawberry Frutista Freeze,42.0,280,0,70.0,2017-04-17 19:45:51.625652,2017-10-23 22:59:39.864374
4972,4824,Strawberry Frutista Freeze 16 oz,42.0,230,0,57.0,2017-04-17 19:45:51.632046,2017-10-23 22:59:39.870191
4973,4933,Daves Hot N Juicy 1/2 lb.* Double,44.0,820,47,42.0,2017-04-17 19:45:56.422594,2017-10-23 22:59:40.274880

In [92]:
#All food items from most carbs to least. 
# Most carbs to least, excluding nulls
sql = '''
SELECT *
from foods
where carbs is not null
order by carbs desc
'''
df = pd.read_sql_query(sql, engine)
df

,id,name,restaurant_id,calories,fat,carbs,created_at,updated_at
0,1692,Chili Bowl,16.0,710.0,24.0,881,2017-04-17 19:44:21.432287,2017-10-23 22:59:17.401817
1,1536,Country Large Oblong VG (whole),15.0,4220.0,16.0,862,2017-04-17 19:44:16.907961,2017-10-23 22:59:15.537773
2,897,Whopper JR. Sandwich with Cheese w/o Mayo,7.0,300.0,14.0,660,2017-04-17 19:43:52.512710,2017-10-23 22:59:08.908225
3,575,20 piece & 10 biscuit box serves 9-11),5.0,8820.0,540.0,545,2017-04-17 19:43:45.054814,2017-04-17 19:43:45.054814
4,1538,Country Small Oblong VG (whole),15.0,2600.0,8.0,532,2017-04-17 19:44:16.926001,2017-10-23 22:59:15.566867
5,1574,Ham & Swiss Panini (Whole Eggs),15.0,490.0,490.0,490,2017-04-17 19:44:17.174558,2017-04-17 19:44:17.174558
6,1444,Anaheim Panini (Egg Whites),15.0,470.0,470.0,470,2017-04-17 19:44:16.276113,2017-04-17 19:44:16.276113
7,18,A&W Root Beer,1.0,1760.0,0.0,464,2017-04-17 19:43:29.569811,2017-10-23 22:59:01.426274
8,1504,Chicken Apple Sausage Panini (Egg Whites),15.0,460.0,460.0,460,2017-04-17 19:44:16.684515,2017-04-17 19:44:16.684515
9,1573,Ham & Swiss Panini (Egg Whites),15.0,410.0,410.0,410,2017-04-17 19:44:17.168738,2017-04-17 19:44:17.168738
10,1582,Harvest VG (whole),15.0,2080.0,15.0,401,2017-04-17 19:44:17.222826,2017-10-23 22:59:16.108107
11,1524,Cinnamon Raisin V (whole),15.0,2540.0,87.0,389,2017-04-17 19:44:16.822525,2017-10-23 22:59:15.444476
12,565,12 piece & 6 biscuit box (serves 5-7),5.0,5300.0,324.0,327,2017-04-17 19:43:44.987020,2017-04-17 19:43:44.987020
13,17,A&W Root Beer,1.0,880.0,0.0,232,2017-04-17 19:43:29.562615,2017-10-23 22:59:01.417860
14,566,12 piece Supremes box (serves 3-5),5.0,2230.0,92.0,228,2017-04-17 19:43:44.994843,2017-04-17 19:43:44.994843
15,3011,Crabby Apple Crumble,28.0,1400.0,51.0,227,2017-04-17 19:44:59.638515,2017-04-17 19:44:59.638515
16,2994,Chocolate Shack Attack,28.0,1530.0,63.0,225,2017-04-17 19:44:59.537976,2017-04-17 19:44:59.537976
17,44,Cherry Slushee,1.0,900.0,0.0,224,2017-04-17 19:43:29.781555,2017-04-17 19:43:29.781555
18,86,Orange Freeze (medium),1.0,970.0,18.0,223,2017-04-17 19:43:30.054902,2017-04-17 19:43:30.054902
19,72,Lemon Slushee,1.0,890.0,0.0,221,2017-04-17 19:43:29.964590,2017-04-17 19:43:29.964590
20,3081,The Big Hook Up,28.0,2750.0,168.0,220,2017-04-17 19:45:00.068195,2017-04-17 19:45:00.068195
21,580,8 piece & 4 biscuit box (serves 3-5),5.0,3534.0,216.0,218,2017-04-17 19:43:45.092193,2017-04-17 19:43:45.092193
22,3386,Brownie Lovers Brownie,31.0,1600.0,73.0,216,2017-04-17 19:45:09.962311,2017-10-23 22:59:32.845374
23,1532,Country Boule VG (whole),15.0,1040.0,3.0,213,2017-04-17 19:44:16.873910,2017-10-23 22:59:15.501816
24,1534,Country Bread Boule Bowl Option (cup),15.0,1040.0,3.0,213,2017-04-17 19:44:16.889627,2017-10-23 22:59:15.516910
25,199,Chocolate Chip Cookie Sundae,2.0,154.0,74.0,210,2017-04-17 19:43:34.338463,2017-04-17 19:43:34.338463
26,211,Crispy Orange Chicken,2.0,1520.0,53.0,208,2017-04-17 19:43:34.419751,2017-04-17 19:43:34.419751
27,2252,Large Fiesta Nachos with Beef,19.0,1989.0,100.0,205,2017-04-17 19:44:35.043100,2017-04-17 19:44:35.043100
28,102,Reeses Peanut Butter Fudge Blendrrr,1.0,1360.0,79.0,203,2017-04-17 19:43:30.159337,2017-10-23 22:59:02.214822
29,3224,Chocolate Triple Thick Shake,30.0,1160.0,27.0,203,2017-04-17 19:45:07.577976,2017-10-23 22:59:31.846683
...,...,...,...,...,...,...,...,...
4827,4548,Jumbo Skewered Shrimp,40.0,242.0,19.0,0,2017-04-17 19:45:42.367471,2017-04-17 19:45:42.367471
4828,4527,Grilled Salmon,40.0,291.0,17.0,0,2017-04-17 19:45:42.240206,2017-04-17 19:45:42.240206
4829,2610,Add Top Sirloin Steak,24.0,280.0,11.0,0,2017-04-17 19:44:48.480003,2017-04-17 19:44:48.480003
4830,2611,Add Top Sirloin Steak,24.0,280.0,11.0,0,2017-04-17 19:44:48.485424,2017-04-17 19:44:48.485424
4831,4,A&W Diet Root Beer,1.0,0.0,0.0,0,2017-04-17 19:43:29.467622,2017-10-23 22:59:01.270406
4832,2471,Golden Roast Chicken Leg,22.0,159.0,9.0,0,2017-04-17 19:44:42.132281,2017-04-17 19:44:42.132281
4833,1,A&W Diet Root Beer,1.0,0.0,0.0,0,2017-04-17 19:43:29.444233,2017-10-23 22:59:01.240291
4834,1896,Eggs (each) 2 oz = 1 egg,17.0,125.0,11.0,0,2017-04-17 19:44:26.554489,2017-04-17 19:44:26.554489
4835,2462,Fresh Brewed Iced Tea Unsweetened,22.0,2.0,0.0,0,2017-04-17 19:44:42.074491,2017-04-17 19:44:42.074491
4836,4546,Jumbo Shrimp Skewer add-on 1 skewer,40.0,81.0,6.0,0,2017-04-17 19:45:42.355723,2017-10-23 22:59:38.433569
4837,1114,100% Colombian Coffee,11.0,5.0,0.0,0,2017-04-17 19:44:01.944613,2017-04-17 19:44:01.944613
4838,4547,Jumbo Shrimp Skewer add-on 2 skewers,40.0,161.0,13.0,0,2017-04-17 19:45:42.361599,2017-10-23 22:59:38.438536
4839,3775,"Coffee, Decaf",35.0,5.0,0.0,0,2017-04-17 19:45:23.143805,2017-04-17 19:45:23.143805
4840,2340,Bacon,20.0,140.0,10.0,0,2017-04-17 19:44:37.975105,2017-04-17 19:44:37.975105
4841,2325,Smoked Turkey,19.0,31.0,1.0,0,2017-04-17 19:44:35.507957,2017-04-17 19:44:35.507957
4842,3774,Coffee,35.0,5.0,0.0,0,2017-04-17 19:45:23.135972,2017-04-17 19:45:23.135972
4843,4488,Creole Catch,40.0,240.0,10.0,0,2017-04-17 19:45:41.921781,2017-04-17 19:45:41.921781
4844,4487,Creole Catch,40.0,240.0,10.0,0,2017-04-17 19:45:41.914126,2017-04-17 19:45:41.914126
4845,3619,New York Strip 10 oz,33.0,545.0,35.0,0,2017-04-17 19:45:17.476105,2017-04-17 19:45:17.476105
4846,4609,Plain Grilled Chicken,40.0,226.0,4.0,0,2017-04-17 19:45:42.756191,2017-04-17 19:45:42.756191
4847,261,Kids 4oz Sirloin Steak,2.0,140.0,7.0,0,2017-04-17 19:43:34.770828,2017-04-17 19:43:34.770828
4848,1175,Applewood Smoked Bacon,12.0,90.0,7.0,0,2017-04-17 19:44:06.107298,2017-04-17 19:44:06.107298
4849,2940,Iced Tea,27.0,2.0,0.0,0,2017-04-17 19:44:56.252255,2017-04-17 19:44:56.252255
4850,4611,Plain Grilled Salmon,40.0,291.0,17.0,0,2017-04-17 19:45:42.767051,2017-04-17 19:45:42.767051
4851,2941,Iced Tea,27.0,4.0,0.0,0,2017-04-17 19:44:56.258638,2017-04-17 19:44:56.258638
4852,937,Premium Shrimp,8.0,154.0,6.0,0,2017-04-17 19:43:54.794172,2017-04-17 19:43:54.794172
4853,744,Wings (each),6.0,72.0,5.0,0,2017-04-17 19:43:48.691407,2017-04-17 19:43:48.691407
4854,260,House Sirloin,2.0,250.0,12.0,0,2017-04-17 19:43:34.759166,2017-04-17 19:43:34.759166
4855,2324,Smoked Ham,19.0,54.0,3.0,0,2017-04-17 19:44:35.502068,2017-04-17 19:44:35.502068
4856,259,House Sirloin,2.0,310.0,13.0,0,2017-04-17 19:43:34.752731,2017-04-17 19:43:34.752731

In [93]:
# Some french waiters grow healthy oranges

In [98]:
# See many to many relationships
sql = '''
SELECT *
from categories_foods
limit 1
'''
df = pd.read_sql_query(sql, engine)
df

   category_id  food_id
0            1        2

In [99]:
# # food with the id 2
sql = '''
SELECT *
from foods
where id = 2
'''
df = pd.read_sql_query(sql, engine)
df

,id,name,restaurant_id,calories,fat,carbs,created_at,updated_at
0,2,A&W Diet Root Beer,1,0,0,0,2017-04-17 19:43:29.456277,2017-10-23 22:59:01.252378

In [96]:
# category with the id of 1
sql = '''
SELECT *
from categories
where id=1
'''
df = pd.read_sql_query(sql, engine)
df

   id    name                 created_at                 updated_at
0   1  Drinks 2017-04-17 19:43:29.423043 2017-04-17 20:05:35.796750

In [110]:
# Two different tables from 1 querie (INNER Join)
sql = '''
SELECT f.name as food, r.name as restaurant
FROM foods AS f
INNER JOIN restaurants AS r ON f.restaurant_id = r.id
'''
df = pd.read_sql_query(sql, engine)
df

,food,restaurant
0,Blue Raspberry Slushee,A&W Restaurants
1,Blue Raspberry Slushee,A&W Restaurants
2,Blue Raspberry Slushee,A&W Restaurants
3,Breaded Onion Rings (Large),A&W Restaurants
4,Breaded Onion Rings (Regular),A&W Restaurants
5,Caramel Sundae,A&W Restaurants
6,Cheese Curds (Large),A&W Restaurants
7,Cheese Curds (Regular),A&W Restaurants
8,Cheese Dog,A&W Restaurants
9,Cheese Fries,A&W Restaurants
10,Cheeseburger,A&W Restaurants
11,Cherry Limeade,A&W Restaurants
12,Cherry Limeade,A&W Restaurants
13,Cherry Limeade,A&W Restaurants
14,Cherry Limeade,A&W Restaurants
15,Cherry Slushee,A&W Restaurants
16,Cherry Slushee,A&W Restaurants
17,Cherry Slushee,A&W Restaurants
18,Cherry Slushee,A&W Restaurants
19,Chicken Strips- 3 pieces,A&W Restaurants
20,Chili,A&W Restaurants
21,Chili Cheese Fries,A&W Restaurants
22,Chili Fries,A&W Restaurants
23,Chocolate Fudge Blendrrr,A&W Restaurants
24,Chocolate Fudge Blendrrr,A&W Restaurants
25,Chocolate Fudge Blendrrr,A&W Restaurants
26,Chocolate Milkshake (medium),A&W Restaurants
27,Chocolate Milkshake (small),A&W Restaurants
28,Chocolate Sundae,A&W Restaurants
29,Coney (Chili) Cheese Dog,A&W Restaurants
...,...,...
4945,Sweet Life Chocolate Chip Cookie,KFC
4946,Honey Mustard Snack Wrap (Crispy),McDonald's
4947,Brownie Lovers Brownie,O'Charley's
4948,Kids Grilled Chicken,Olive Garden
4949,Sampler Italiano Fried Zucchini,Olive Garden
4950,Alice Springs Chicken Quesadillas Regular,Outback Steakhouse
4951,Mac-A-Roo N Cheese,Outback Steakhouse
4952,Sweet Adventure Sampler Trio,Outback Steakhouse
4953,VictoriaS Filet 6 oz,Outback Steakhouse
4954,Walkabout Soup Of The Day Chicken Tortilla Sou...,Outback Steakhouse
4955,All Natural Sonoma Chicken Stew with 1 Mini Dr...,Panera Bread
4956,Cinnamon Coffee Crumb Cake- caf serving,Panera Bread
4957,Half Bacon Turkey Bravo on XL Tomato Basil,Panera Bread
4958,Blackened Bbq Chicken Po Boy,Popeye's
4959,A.1. Peppercorn Burger,Red Robin Gourmet Burgers
4960,Caesars Chicken Wrap,Red Robin Gourmet Burgers
4961,Chick-Chick-Chicken Fingers Kids Meal,Red Robin Gourmet Burgers
4962,Kids Apple Slices,Red Robin Gourmet Burgers
4963,One Great Margarita Peach,Red Robin Gourmet Burgers
4964,Royal Red Robin Burger,Red Robin Gourmet Burgers
4965,Light Beer 12 Ounces,Romano's Macaroni Grill
4966,Baked Potato Plain,Ruby Tuesday
4967,Freshly Made Lemonade Raspberry,Ruby Tuesday
4968,Petite Grilled Chicken Salad F&T,Ruby Tuesday
4969,Petite Sirloin* & Lobster Mac n Cheese,Ruby Tuesday
4970,"Black Forest Ham, Egg & Cheese 3 Flatbread",Subway
4971,Crunchwrap Supreme,Taco Bell
4972,Strawberry Frutista Freeze,Taco Bell
4973,Strawberry Frutista Freeze 16 oz,Taco Bell
4974,Daves Hot N Juicy 1/2 lb.* Double,Wendy's

In [121]:
# give me every food item from Burger King
sql = '''
SELECT f.name as food, r.name as restaurant
FROM foods AS f
INNER JOIN restaurants AS r ON f.restaurant_id = r.id
WHERE r.name ilike 'burger king'
'''
df = pd.read_sql_query(sql, engine)
df

                                                  food   restaurant
0                   American Original Chicken Sandwich  Burger King
1                                   Bacon Cheeseburger  Burger King
2                          Bacon, Egg & Cheese Biscuit  Burger King
3                 Biscuits (2) & Sausage Gravy Platter  Burger King
4     Biscuit w/ Breakfast Steak (Country Fried Steak)  Burger King
5       Biscuit w/ Country Ham (1 sl) & Egg and Cheese  Burger King
6                                 BK Big Fish Sandwich  Burger King
7                BK Big Fish Sandwich w/o Tartar Sauce  Burger King
8                       BK Toppers Deluxe Cheeseburger  Burger King
9                        BK Toppers Mushroom and Swiss  Burger King
10                 BK Toppers Western BBQ Cheeseburger  Burger King
11                                    BK Veggie Burger  Burger King
12                         BK Veggie Burger  w/ Cheese  Burger King
13                          BK Veggie Burger  w/o Mayo  Burger King
14                            BK Chicken Fries (12 pc)  Burger King
15                             BK Chicken Fries (6 pc)  Burger King
16                             BK Chicken Fries (9 pc)  Burger King
17                                   BK Double Stacker  Burger King
18                                BK Fresh Apple Fries  Burger King
19                   BK Kids Breakfast Muffin Sandwich  Burger King
20                                     BK Quad Stacker  Burger King
21                                   BK Single Stacker  Burger King
22                                   BK Triple Stacker  Burger King
23                               BKChefs Choice Burger  Burger King
24                             BKEgg and Cheese Muffin  Burger King
25                                   BK Breakfast Bowl  Burger King
26   BK Breakfast Burrito  Bacon, Egg, Cheese, & Salsa  Burger King
27                                      Brownie Sundae  Burger King
28                                      Caramel Sundae  Burger King
29                                        Cheeseburger  Burger King
..                                                 ...          ...
127                                 Vanilla Milk Shake  Burger King
128          White Chocolate Macadamia Nut Cookies (2)  Burger King
129                            Quaker Oatmeal Original  Burger King
130                        Spicy Chickn Crisp Sandwich  Burger King
131               Spicy Chickn Crisp Sandwich w/o Mayo  Burger King
132                           Spicy Chicken BK Wrapper  Burger King
133                   Tendercrisp Chicken Garden Salad  Burger King
134                       Tendercrisp Chicken Sandwich  Burger King
135              Tendercrisp Chicken Sandwich w/o Mayo  Burger King
136                       Tendergrill Chicken Sandwich  Burger King
137              Tendergrill Chicken Sandwich w/o Mayo  Burger King
138                      Texas Double Whopper Sandwich  Burger King
139                      Texas Triple Whopper Sandwich  Burger King
140                             Texas Whopper Sandwich  Burger King
141                            Triple Whopper Sandwich  Burger King
142                   Triple Whopper Sandwich w/o Mayo  Burger King
143                Triple Whopper Sandwich With Cheese  Burger King
144       Triple Whopper Sandwich With Cheese w/o Mayo  Burger King
145                               Whopper JR. Sandwich  Burger King
146                      Whopper JR. Sandwich w/o Mayo  Burger King
147                   Whopper JR. Sandwich with Cheese  Burger King
148          Whopper JR. Sandwich with Cheese w/o Mayo  Burger King
149                                   Whopper Sandwich  Burger King
150                          Whopper Sandwich w/o Mayo  Burger King
151                       Whopper Sandwich with Cheese  Burger King
152              Whopper Sandwich with Cheese w/o Mayo  Burger King
153      Biscuit  w/ Chicken Fritter (Chicken Biscuit)  Burger King
154  BK Breakfast Burrito  Potato, Egg, Cheese, & S...  Burger King
155        Quaker Oatmeal Maple and Brown Sugar Flavor  Burger King
156                   Tendergrill Chicken Garden Salad  Burger King

[157 rows x 2 columns]

In [116]:
sql = '''
SELECT foods.name, restaurants.name as restaurant
FROM foods
INNER JOIN restaurants ON restaurants.id = foods.restaurant_id
WHERE restaurants.name ILIKE 'burger King'
'''
df = pd.read_sql_query(sql, engine)
df

                                                  name   restaurant
0                   American Original Chicken Sandwich  Burger King
1                                   Bacon Cheeseburger  Burger King
2                          Bacon, Egg & Cheese Biscuit  Burger King
3                 Biscuits (2) & Sausage Gravy Platter  Burger King
4     Biscuit w/ Breakfast Steak (Country Fried Steak)  Burger King
5       Biscuit w/ Country Ham (1 sl) & Egg and Cheese  Burger King
6                                 BK Big Fish Sandwich  Burger King
7                BK Big Fish Sandwich w/o Tartar Sauce  Burger King
8                       BK Toppers Deluxe Cheeseburger  Burger King
9                        BK Toppers Mushroom and Swiss  Burger King
10                 BK Toppers Western BBQ Cheeseburger  Burger King
11                                    BK Veggie Burger  Burger King
12                         BK Veggie Burger  w/ Cheese  Burger King
13                          BK Veggie Burger  w/o Mayo  Burger King
14                            BK Chicken Fries (12 pc)  Burger King
15                             BK Chicken Fries (6 pc)  Burger King
16                             BK Chicken Fries (9 pc)  Burger King
17                                   BK Double Stacker  Burger King
18                                BK Fresh Apple Fries  Burger King
19                   BK Kids Breakfast Muffin Sandwich  Burger King
20                                     BK Quad Stacker  Burger King
21                                   BK Single Stacker  Burger King
22                                   BK Triple Stacker  Burger King
23                               BKChefs Choice Burger  Burger King
24                             BKEgg and Cheese Muffin  Burger King
25                                   BK Breakfast Bowl  Burger King
26   BK Breakfast Burrito  Bacon, Egg, Cheese, & Salsa  Burger King
27                                      Brownie Sundae  Burger King
28                                      Caramel Sundae  Burger King
29                                        Cheeseburger  Burger King
..                                                 ...          ...
127                                 Vanilla Milk Shake  Burger King
128          White Chocolate Macadamia Nut Cookies (2)  Burger King
129                            Quaker Oatmeal Original  Burger King
130                        Spicy Chickn Crisp Sandwich  Burger King
131               Spicy Chickn Crisp Sandwich w/o Mayo  Burger King
132                           Spicy Chicken BK Wrapper  Burger King
133                   Tendercrisp Chicken Garden Salad  Burger King
134                       Tendercrisp Chicken Sandwich  Burger King
135              Tendercrisp Chicken Sandwich w/o Mayo  Burger King
136                       Tendergrill Chicken Sandwich  Burger King
137              Tendergrill Chicken Sandwich w/o Mayo  Burger King
138                      Texas Double Whopper Sandwich  Burger King
139                      Texas Triple Whopper Sandwich  Burger King
140                             Texas Whopper Sandwich  Burger King
141                            Triple Whopper Sandwich  Burger King
142                   Triple Whopper Sandwich w/o Mayo  Burger King
143                Triple Whopper Sandwich With Cheese  Burger King
144       Triple Whopper Sandwich With Cheese w/o Mayo  Burger King
145                               Whopper JR. Sandwich  Burger King
146                      Whopper JR. Sandwich w/o Mayo  Burger King
147                   Whopper JR. Sandwich with Cheese  Burger King
148          Whopper JR. Sandwich with Cheese w/o Mayo  Burger King
149                                   Whopper Sandwich  Burger King
150                          Whopper Sandwich w/o Mayo  Burger King
151                       Whopper Sandwich with Cheese  Burger King
152              Whopper Sandwich with Cheese w/o Mayo  Burger King
153      Biscuit  w/ Chicken Fritter (Chicken Biscuit)  Burger King
154  BK Breakfast Burrito  Potato, Egg, Cheese, & S...  Burger King
155        Quaker Oatmeal Maple and Brown Sugar Flavor  Burger King
156                   Tendergrill Chicken Garden Salad  Burger King

[157 rows x 2 columns]

In [117]:
sql = '''
SELECT foods.name, restaurants.name as restaurant
FROM restaurants
INNER JOIN foods ON foods.restaurant_id = restaurant_id
WHERE restaurants.name ILIKE 'burger King'
'''
df = pd.read_sql_query(sql, engine)
df

                                                   name   restaurant
0                                Blue Raspberry Slushee  Burger King
1                                Blue Raspberry Slushee  Burger King
2                                Blue Raspberry Slushee  Burger King
3                           Breaded Onion Rings (Large)  Burger King
4                         Breaded Onion Rings (Regular)  Burger King
5                                        Caramel Sundae  Burger King
6                                  Cheese Curds (Large)  Burger King
7                                Cheese Curds (Regular)  Burger King
8                                            Cheese Dog  Burger King
9                                          Cheese Fries  Burger King
10                                         Cheeseburger  Burger King
11                                       Cherry Limeade  Burger King
12                                       Cherry Limeade  Burger King
13                                       Cherry Limeade  Burger King
14                                       Cherry Limeade  Burger King
15                                       Cherry Slushee  Burger King
16                                       Cherry Slushee  Burger King
17                                       Cherry Slushee  Burger King
18                                       Cherry Slushee  Burger King
19                             Chicken Strips- 3 pieces  Burger King
20                                                Chili  Burger King
21                                   Chili Cheese Fries  Burger King
22                                          Chili Fries  Burger King
23                             Chocolate Fudge Blendrrr  Burger King
24                             Chocolate Fudge Blendrrr  Burger King
25                             Chocolate Fudge Blendrrr  Burger King
26                         Chocolate Milkshake (medium)  Burger King
27                          Chocolate Milkshake (small)  Burger King
28                                     Chocolate Sundae  Burger King
29                             Coney (Chili) Cheese Dog  Burger King
...                                                 ...          ...
4945                   Sweet Life Chocolate Chip Cookie  Burger King
4946                  Honey Mustard Snack Wrap (Crispy)  Burger King
4947                             Brownie Lovers Brownie  Burger King
4948                               Kids Grilled Chicken  Burger King
4949                   Sampler Italiano  Fried Zucchini  Burger King
4950         Alice Springs Chicken Quesadillas  Regular  Burger King
4951                                 Mac-A-Roo N Cheese  Burger King
4952                       Sweet Adventure Sampler Trio  Burger King
4953                               VictoriaS Filet 6 oz  Burger King
4954  Walkabout Soup Of The Day Chicken Tortilla Sou...  Burger King
4955  All Natural Sonoma Chicken Stew with 1 Mini Dr...  Burger King
4956            Cinnamon Coffee Crumb Cake- caf serving  Burger King
4957         Half Bacon Turkey Bravo on XL Tomato Basil  Burger King
4958                       Blackened Bbq Chicken Po Boy  Burger King
4959                             A.1. Peppercorn Burger  Burger King
4960                               Caesars Chicken Wrap  Burger King
4961              Chick-Chick-Chicken Fingers Kids Meal  Burger King
4962                                  Kids Apple Slices  Burger King
4963                         One Great Margarita  Peach  Burger King
4964                             Royal Red Robin Burger  Burger King
4965                              Light Beer  12 Ounces  Burger King
4966                                Baked Potato  Plain  Burger King
4967                   Freshly Made Lemonade  Raspberry  Burger King
4968                  Petite Grilled Chicken Salad  F&T  Burger King
4969             Petite Sirloin* & Lobster Mac n Cheese  Burger King
4970         Black Forest Ham, Egg & Cheese 3 Flatbread  Burger King
4971                                 Crunchwrap Supreme  Burger King
4972                         Strawberry Frutista Freeze  Burger King
4973                   Strawberry Frutista Freeze 16 oz  Burger King
4974                  Daves Hot N Juicy 1/2 lb.* Double  Burger King

[4975 rows x 2 columns]

In [127]:
# # Every food item from Jimmy Johns over 700 calories, sorted alphabetically
sql = '''
SELECT f.name, f.calories, r.name as restaurant
FROM foods AS f
INNER JOIN restaurants AS r ON r.id = f.restaurant_id
WHERE f.calories > 700 AND r.name ILIKE 'Jimmy John%%'
order by f.name
'''
df = pd.read_sql_query(sql, engine)
df

                          name  calories   restaurant
0             #10 Hunters Club       807  Jimmy Johns
1             #11 Country Club       765  Jimmy Johns
2               #12 Beach Club       729  Jimmy Johns
3      #13 Gourmet Veggie Club       773  Jimmy Johns
4                #15 Club Tuna       843  Jimmy Johns
5                #16 Club Lulu       755  Jimmy Johns
6          #17 Ultimate Porker       760  Jimmy Johns
7   #7 Gourmet Smoked Ham Club       775  Jimmy Johns
8                #8 Billy Club       796  Jimmy Johns
9        #9 Italian Night Club       948  Jimmy Johns
10           Slim 3 Tuna salad       722  Jimmy Johns
11         The J.J. Gargantuan       988  Jimmy Johns
12  The J.J. Gargantuan Unwich       739  Jimmy Johns

In [128]:
sql = '''
SELECT f.name, f.calories, r.name as restaurant
FROM restaurants AS r
INNER JOIN foods as F on f.restaurant_id = r.id
WHERE r.name ILIKE 'Chili%%'
ORDER BY f.calories DESC
LIMIT 10
'''
df = pd.read_sql_query(sql, engine)
df

                                                name  calories restaurant
0                               Shiner Bock BBQ Ribs      2310    Chili's
1  Southern Smokehouse Burger w/ Ancho Chile BBQ ...      2290    Chili's
2     Jalapeno Smokehouse Burger w/ Ranch with fries      2210    Chili's
3                                      Original Ribs      2170    Chili's
4                Big Mouth Bites w/ Ranch with fries      2120    Chili's
5                Texas Cheese Fries w/ Chili & Ranch      2120    Chili's
6                               Memphis Dry Rub Ribs      1990    Chili's
7                        Texas Cheese Fries w/ Ranch      1960    Chili's
8                          Classic Nachos  Beef (12)      1720    Chili's
9                             Skillet Queso w/ Chips      1710    Chili's

In [129]:
sql = '''
SELECT f.name, c.name as category
FROM foods as f
INNER JOIN categories_foods on f.id = categories_foods.food_id
INNER JOIN categories as c on c.id = categories_foods.category_id

'''
df = pd.read_sql_query(sql, engine)
df

                                                   name              category
0                                Blue Raspberry Slushee                Drinks
1                                Blue Raspberry Slushee                Drinks
2                                Blue Raspberry Slushee                Drinks
3                           Breaded Onion Rings (Large)                 Sides
4                         Breaded Onion Rings (Regular)                 Sides
5                                        Caramel Sundae              Desserts
6                                  Cheese Curds (Large)                 Sides
7                                Cheese Curds (Regular)                 Sides
8                                            Cheese Dog               Entrees
9                                          Cheese Fries          French Fries
10                                         Cheeseburger               Burgers
11                                       Cherry Limeade                Drinks
12                                       Cherry Limeade                Drinks
13                                       Cherry Limeade                Drinks
14                                       Cherry Limeade                Drinks
15                                       Cherry Slushee                Drinks
16                                       Cherry Slushee                Drinks
17                                       Cherry Slushee                Drinks
18                                       Cherry Slushee                Drinks
19                             Chicken Strips- 3 pieces               Chicken
20                                                Chili                 Sides
21                                   Chili Cheese Fries          French Fries
22                                          Chili Fries          French Fries
23                             Chocolate Fudge Blendrrr              Desserts
24                             Chocolate Fudge Blendrrr              Desserts
25                             Chocolate Fudge Blendrrr              Desserts
26                         Chocolate Milkshake (medium)                Shakes
27                          Chocolate Milkshake (small)                Shakes
28                                     Chocolate Sundae              Desserts
29                             Coney (Chili) Cheese Dog               Entrees
...                                                 ...                   ...
4946                   Sweet Life Chocolate Chip Cookie              Desserts
4947                  Honey Mustard Snack Wrap (Crispy)                 Wraps
4948                             Brownie Lovers Brownie              Desserts
4949                               Kids Grilled Chicken               Chicken
4950                   Sampler Italiano  Fried Zucchini            Appetizers
4951         Alice Springs Chicken Quesadillas  Regular            Appetizers
4952                                 Mac-A-Roo N Cheese           Kid's Meals
4953                       Sweet Adventure Sampler Trio              Desserts
4954                               VictoriaS Filet 6 oz               Entrees
4955  Walkabout Soup Of The Day Chicken Tortilla Sou...                 Soups
4956  All Natural Sonoma Chicken Stew with 1 Mini Dr...                 Soups
4957            Cinnamon Coffee Crumb Cake- caf serving              Desserts
4958         Half Bacon Turkey Bravo on XL Tomato Basil            Sandwiches
4959                       Blackened Bbq Chicken Po Boy            Sandwiches
4960                             A.1. Peppercorn Burger               Burgers
4961                               Caesars Chicken Wrap                 Wraps
4962              Chick-Chick-Chicken Fingers Kids Meal           Kid's Meals
4963                                  Kids Apple Slices           Kid's Meals
4964                         One Great Margarita  Peach                Drinks
4965                             Royal Red Robin Burger               Burgers
4966                              Light Beer  12 Ounces                Drinks
4967                                Baked Potato  Plain                 Sides
4968                   Freshly Made Lemonade  Raspberry                Drinks
4969                  Petite Grilled Chicken Salad  F&T                Salads
4970             Petite Sirloin* & Lobster Mac n Cheese               Entrees
4971         Black Forest Ham, Egg & Cheese 3 Flatbread  Breakfast Sandwiches
4972                                 Crunchwrap Supreme          Mexican Food
4973                         Strawberry Frutista Freeze                Drinks
4974                   Strawberry Frutista Freeze 16 oz                Drinks
4975                  Daves Hot N Juicy 1/2 lb.* Double               Burgers

[4976 rows x 2 columns]

In [131]:
sql = '''
SELECT *
FROM categories_foods
limit 3
'''

df = pd.read_sql_query(sql, engine)
df

   category_id  food_id
0            1        2
1            1        3
2            1        4

In [133]:
## again but switching tables

sql = """
SELECT f.name, c.name as category
FROM categories c
INNER JOIN categories_foods cf ON c.id = cf.food_id
INNER JOIN foods f ON f.id = cf.food_id
"""
df = pd.read_sql_query(sql, engine)
df

                                  name              category
0                   A&W Diet Root Beer                Shakes
1                   A&W Diet Root Beer                 Sides
2                   A&W Diet Root Beer              Desserts
3                   A&W Diet Root Beer               Entrees
4                   A&W Diet Root Beer          French Fries
5                        A&W Root Beer                  Ribs
6                        A&W Root Beer                 Soups
7                        A&W Root Beer           Kid's Meals
8                        A&W Root Beer                 Wraps
9                        A&W Root Beer             Breakfast
10                       A&W Root Beer                Breads
11              Blue Raspberry Slushee                Coffee
12              Blue Raspberry Slushee                 Tacos
13              Blue Raspberry Slushee          Mexican Food
14              Blue Raspberry Slushee               Fajitas
15                  A&W Diet Root Beer                Drinks
16   A&W Diet Root Beer Float (medium)               Chicken
17    A&W Diet Root Beer Float (small)               Seafood
18   A&W Diet Root Beer Freeze (large)            Appetizers
19  A&W Diet Root Beer Freeze (medium)                Salads
20   A&W Diet Root Beer Freeze (small)            Sandwiches
21         A&W Root Beer Float (large)                Pizzas
22        A&W Root Beer Float (medium)           Wing Sauces
23         A&W Root Beer Float (small)                 Wings
24        A&W Root Beer Freeze (large)       Breakfast Tacos
25       A&W Root Beer Freeze (medium)  Breakfast Sandwiches
26        A&W Root Beer Freeze (small)              Burritos
27    A&W Diet Root Beer Float (large)               Burgers
28         Breaded Onion Rings (Large)             Tortillas
29       Breaded Onion Rings (Regular)               Paninis
30                Cheese Curds (Large)  Cream Cheese Spreads
31                      Caramel Sundae               Nuggets

In [137]:
# Top 10 most caloric kids meals

sql = '''
SELECT f.name, f.calories, c.name as category
FROM foods f
INNER JOIN categories_foods AS cf ON cf.food_id = f.id
INNER JOIN categories AS c on c.id = cf.category_id
WHERE c.name ILIKE 'Kid''s Meals'
ORDER BY f.calories DESC
LIMIT 10
'''
df = pd.read_sql_query(sql, engine)
df

                         name  calories     category
0              Captains Catch      1060  Kid's Meals
1  Kids OREO Cookie Milkshake       780  Kid's Meals
2              Kid Beef Minis       779  Kid's Meals
3          Mini Beach Burgers       760  Kid's Meals
4  Kids Mini Cheeseburgers  2       740  Kid's Meals
5      Mac N Cheese Kids Meal       735  Kid's Meals
6       Chicken Leg Kids meal       730  Kid's Meals
7   Kids OREO Blender Blaster       690  Kid's Meals
8         Reds Pizzeria Pizza       690  Kid's Meals
9  2 Piece Supremes Kids Meal       680  Kid's Meals

In [138]:
sql = '''SELECT f.name, f.calories, r.name as restaurant, c.name as category
FROM foods as f
INNER JOIN restaurants AS r ON r.id = f.restaurant_id
INNER JOIN categories_foods AS cf ON cf.food_id = f.id
INNER JOIN categories AS c ON c.id = cf.category_id
WHERE r.name = 'Burger King' AND c.name = 'Burgers'
'''
df = pd.read_sql_query(sql, engine)
df

                                   name  calories   restaurant category
0                    Bacon Cheeseburger       330  Burger King  Burgers
1        BK Toppers Deluxe Cheeseburger       420  Burger King  Burgers
2         BK Toppers Mushroom and Swiss       410  Burger King  Burgers
3   BK Toppers Western BBQ Cheeseburger       400  Burger King  Burgers
4                      BK Veggie Burger       410  Burger King  Burgers
5           BK Veggie Burger  w/ Cheese       450  Burger King  Burgers
6            BK Veggie Burger  w/o Mayo       320  Burger King  Burgers
7                     BK Double Stacker       500  Burger King  Burgers
8                       BK Quad Stacker       800  Burger King  Burgers
9                     BK Single Stacker       380  Burger King  Burgers
10                    BK Triple Stacker       650  Burger King  Burgers
11                BKChefs Choice Burger       770  Burger King  Burgers
12                         Cheeseburger       300  Burger King  Burgers
13            Double Bacon Cheeseburger       490  Burger King  Burgers
14                  Double Cheeseburger       450  Burger King  Burgers
15                     Double Hamburger       360  Burger King  Burgers
16                            Hamburger       260  Burger King  Burgers
17                   Rodeo Cheeseburger       350  Burger King  Burgers

In [139]:
sql = '''
select count(f.id)
FROM foods as f
'''

df = pd.read_sql_query(sql, engine)
df

   count
0   4976

In [144]:
sql = '''
select avg(f.calories) as average_calories, avg(f.carbs) as avg_carbs
FROM foods as f
'''

df = pd.read_sql_query(sql, engine)
df

   average_calories  avg_carbs
0        490.876357  47.819642

In [146]:
sql = '''
SELECT f.restaurant_id, AVG(f.calories)
FROM foods as f
GROUP BY f.restaurant_id
'''

df = pd.read_sql_query(sql, engine)
df

    restaurant_id         avg
0            27.0  474.913043
1            23.0  457.692308
2            44.0  424.477612
3            11.0  340.446429
4             8.0  254.420000
5             NaN  270.000000
6            42.0  369.666667
7            29.0  274.482759
8             4.0  429.440559
9            34.0  273.233333
10           41.0  295.000000
11           40.0  451.870000
12           43.0  404.871795
13           32.0  570.384615
14           10.0  446.311111
15            9.0  512.735043
16            7.0  463.885350
17           35.0  354.725000
18           38.0  574.145000
19           15.0  445.909091
20            6.0  574.229358
21           26.0  439.685315
22           12.0  718.771429
23           39.0  562.837838
24           24.0  607.850000
25           19.0  542.320000
26           36.0  368.571429
27           25.0  468.076923
28           31.0  531.428571
29           30.0  293.125000
30           21.0  662.000000
31           14.0  247.111111
32            3.0  416.736842
33           17.0  462.150000
34           37.0  678.137255
35           28.0  841.404959
36           22.0  259.638889
37           20.0  534.728261
38           33.0  535.424658
39           13.0   90.744681
40            1.0  467.642276
41            5.0  745.068493
42           18.0  385.524272
43            2.0  679.355000
44           16.0  565.925000

In [149]:
sql = '''
SELECT r.name, AVG(f.calories) as avg_calories
FROM foods as f
INNER JOIN restaurants AS r ON r.id = f.restaurant_id
GROUP BY r.name
'''

df = pd.read_sql_query(sql, engine)
df

                                     name  avg_calories
0                            Olive Garden    570.384615
1                             Dairy Queen    565.925000
2                         Jack in the Box    439.685315
3                  Charley's Grilled Subs    446.311111
4                             Jimmy Johns    474.913043
5                             Captain D's    254.420000
6                            Ruby Tuesday    451.870000
7                      Corner Bakery Cafe    445.909091
8                             O'Charley's    531.428571
9                                  Arby's    416.736842
10              Red Robin Gourmet Burgers    574.145000
11                                   IHOP    607.850000
12                             Applebee's    679.355000
13                       Joe's Crab Shack    841.404959
14  Bojangle's Famous Chicken 'n Biscuits    745.068493
15                              Taco Bell    369.666667
16                           Golden Chick    259.638889
17                     Buffalo Wild Wings    574.229358
18                                Wendy's    424.477612
19                           Panera Bread    354.725000
20                Romano's Macaroni Grill    562.837838
21                                Quiznos    678.137255
22                          El Pollo Loco    385.524272
23                          Panda Express    273.233333
24                               Fazoli's    534.728261
25                                   FATZ    542.320000
26                            Burger King    463.885350
27                        In-N-Out Burger    468.076923
28                               Church's    247.111111
29                                Chili's    718.771429
30                     Outback Steakhouse    535.424658
31                             McDonald's    293.125000
32                                Denny's    462.150000
33                             Carl's Jr.    512.735043
34                               Hardee's    457.692308
35                             Taco Bueno    404.871795
36                        A&W Restaurants    467.642276
37                 Chipotle Mexican Grill     90.744681
38                               Popeye's    368.571429
39                                    KFC    274.482759
40            Five Guys Burgers and Fries    662.000000
41                  Atlanta Bread Company    429.440559
42                            Chick-fil-A    340.446429
43                                 Subway    295.000000

In [150]:
sql = '''
SELECT r.name, AVG(f.calories) as avg_calories
FROM foods as f
INNER JOIN restaurants AS r ON r.id = f.restaurant_id
GROUP BY r.name
order by AVG(f.calories)
'''

df = pd.read_sql_query(sql, engine)
df

                                     name  avg_calories
0                  Chipotle Mexican Grill     90.744681
1                                Church's    247.111111
2                             Captain D's    254.420000
3                            Golden Chick    259.638889
4                           Panda Express    273.233333
5                                     KFC    274.482759
6                              McDonald's    293.125000
7                                  Subway    295.000000
8                             Chick-fil-A    340.446429
9                            Panera Bread    354.725000
10                               Popeye's    368.571429
11                              Taco Bell    369.666667
12                          El Pollo Loco    385.524272
13                             Taco Bueno    404.871795
14                                 Arby's    416.736842
15                                Wendy's    424.477612
16                  Atlanta Bread Company    429.440559
17                        Jack in the Box    439.685315
18                     Corner Bakery Cafe    445.909091
19                 Charley's Grilled Subs    446.311111
20                           Ruby Tuesday    451.870000
21                               Hardee's    457.692308
22                                Denny's    462.150000
23                            Burger King    463.885350
24                        A&W Restaurants    467.642276
25                        In-N-Out Burger    468.076923
26                            Jimmy Johns    474.913043
27                             Carl's Jr.    512.735043
28                            O'Charley's    531.428571
29                               Fazoli's    534.728261
30                     Outback Steakhouse    535.424658
31                                   FATZ    542.320000
32                Romano's Macaroni Grill    562.837838
33                            Dairy Queen    565.925000
34                           Olive Garden    570.384615
35              Red Robin Gourmet Burgers    574.145000
36                     Buffalo Wild Wings    574.229358
37                                   IHOP    607.850000
38            Five Guys Burgers and Fries    662.000000
39                                Quiznos    678.137255
40                             Applebee's    679.355000
41                                Chili's    718.771429
42  Bojangle's Famous Chicken 'n Biscuits    745.068493
43                       Joe's Crab Shack    841.404959

In [155]:
# How to use aggregate as filter
# category name, average calories per category where avg caloroes > 700

sql = '''
SELECT c.name, AVG(f.calories)
FROM categories AS c
INNER JOIN categories_foods AS cf ON cf.category_id = c.id
INNER JOIN foods AS f ON cf.food_id = f.id
GROUP BY c.name
HAVING AVG(f.calories) > 700
ORDER BY AVG(f.calories) ASC

'''

df = pd.read_sql_query(sql, engine)
df

         name          avg
0     Entrees   724.778626
1     Burgers   755.415888
2     Seafood   786.090000
3  Appetizers   807.920000
4        Ribs  1499.000000

In [ ]:
# Having is used on aggregrate
#where is on clauses